@import "chota.min.css";
@import "custom.css";


:root {
    color-scheme: light dark;
  
    --light-bg: #fefffe;
    --light-qbg: #f0ecf1c5;
    --light-tb: #f0ecf1c5;
    --light-color: #0a000d;
    --light-h: #1f4a3c;
    --light-h2: #72c087;
    --light-a: #165e46;
    --light-menu: #e1e1e0;
  
    --dark-bg: #011f17;
    --dark-qbg: #272327c5;
    --dark-tb: #252425c5;
    --dark-color: #fefdfe;
    --dark-h: #6cac97;
    --dark-h2: #579868;
    --dark-a: #64a08c;
    --dark-menu: #243b33;

    --font-family-sans: 'Inter', sans-serif;
    font-weight: 300;
  }

@font-face {
  font-family: Genty;
  src: url(../fonts/GentyDemo-Regular.ttf);
}
@font-face {
  font-family: laries;
  src: url(../fonts/laries.otf);
}



.content
{
  margin-top: 0rem;
}


#wide-header {
        /* body{ */
        background-image: url("../images/page6.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        /* background-position-y: -30rem; */
        background-position: bottom;
        background-size: cover;
        background-size: 100%;
        width: 100%;
        height: 45rem;
        position: absolute;
        z-index: -1;
}





h1 {        position: relative;

        font-size: 12rem;
        line-height: 14rem;
        margin-bottom: 0rem;
        font-family: laries;
        /* word-break: break-all; */
        hyphens: manual;
        padding-top: 12rem;
        padding-bottom: 5rem;
}

h1 a, #deco-footer a {
        color: #ffffff;
        text-shadow: #cb6ce6bb  0.33rem 0.33rem 0rem, #cb6ce67d  0.67rem 0.67rem 0rem;
}
h3 {
        padding-top: 0.5rem;
        line-height: normal;

}
h2
{
    font-family: 'Genty', serif;
    font-size: 7rem;
    line-height: 7rem;
    margin-right: 1rem;
    display: inline-block;
    hyphens: none;
    margin-bottom: 0;

}       


h2 a {   
         color: light-dark(var(--light-h2), var(--dark-h2));

}

@media screen and (max-width: 900px) {

  h1 {
    /* font-size: 15rem; 
    line-height: 15rem;
    hyphens: auto; */
    padding-top: 8rem;
    padding-bottom: 0rem;
  }
  #wide-header {
    height: 36rem;
  }
}


@media screen and (max-width: 640px) {
  h1 {
    font-size: 9rem; 
    line-height: 9rem;
    hyphens: auto;
    padding-bottom: 0rem;
           font-size: 10rem;
        line-height: 12rem;
        word-wrap: normal;
  }
  #wide-header {
    height: 32rem;
  }

        h2 {
                font-size: 5rem;
                line-height: 5rem;
        }
}


@media screen and (max-width: 410px) {

        h1 {
                font-size: 7rem;
                line-height: 9rem;
                word-wrap: normal;
                        padding-bottom: 6rem;


        }
        h2 {
                font-size: 4rem;
                line-height: 4rem;
        }

          #wide-header {
    /* height: 25rem; */
  }

}


@media screen and (max-width: 900px) {

        h2 {
                padding-left: 1rem;
        }

        #deco-footer {
                padding: 2rem;
                font-size: 6rem;
                line-height: 9rem;
                hyphens: none;
        }
}

img#lens { 
        filter: brightness(0);
}
.dark img#lens { 
        filter: brightness(1);
}

 .img-container {
       overflow: hidden;
      height: 40px;
       max-height: 100px;
       position: relative;
   }

.img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: -330px;
    }



#deco-row {
        padding-bottom: 1rem;
}



#deco-footer {
        background-size: cover;
        min-height: 45rem;
        background-image: url("../images/page6.png");
        margin-bottom: 0rem;
        padding: 3rem;
        font-size: 7rem;
        line-height: 11rem;
        margin-bottom: 0rem;
        font-family: laries;
}

@media screen and (max-width: 400px) {
        #deco-footer {
                font-size: 5rem;
                line-height: 10rem;
}

}

li {
        text-align: left;
}



.activism {
        background-size: cover;
}



.allies {
        background-size: cover;

}





td {
  vertical-align: top;
}


 .dark .invert {
    filter: invert(1);
}

.decor {
        filter: brightness(0);
        opacity: 0.3 !important;
}

.dark .decor {
        filter: brightness(1);
}

.to-bottom{
display: -webkit-inline-flex;
display: -moz-inline-flex;
display: inline-flex;

-webkit-flex-flow: row nowrap;
-moz-flex-flow: row nowrap;
flex-flow: row nowrap;

-webkit-align-items: flex-end;
-moz-align-items: flex-end;
align-items: flex-end;}

.caption {
  opacity: 0.25 !important;

}
.caption a {
        color: light-dark(var(--light-h1), var(--dark-h1));
        opacity: 1.0 !important;

}

#lens {
        opacity: 1 !important;
}

.vertical-separate {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

img#butterflies {
    width: 70%;
}

