@import "chota.min.css";
@import "custom.css";


:root {
    /* this has to be set to switch between light or dark */
    color-scheme: light dark;
  
    --light-bg: #fefffe;
    --light-qbg: #f0ecf1c5;
    --light-tb: #f0ecf1c5;
    --light-color: #0a000d;
    --light-h: #1f4a3c;
    --light-h2: #72c087;
    --light-a: #165e46;
    --light-menu: #e1e1e0;
  
    --dark-bg: #011f17;
    --dark-qbg: #272327c5;
    --dark-tb: #252425c5;
    --dark-color: #fefdfe;
    --dark-h: #6cac97;
    --dark-h2: #579868;
    --dark-a: #64a08c;
    --dark-menu: #243b33;

    --font-family-sans: 'Inter', sans-serif;
    font-weight: 300;
  }

@font-face {
  font-family: Genty;
  src: url(../fonts/GentyDemo-Regular.ttf);
}
@font-face {
  font-family: laries;
  src: url(../fonts/laries.otf);
}

img#lens { 
        filter: brightness(0);
}
.dark img#lens { 
        filter: brightness(1);
}


/* a {
        color: #cb6ce6;
} */
 .img-container {
       overflow: hidden;
      height: 40px;
       max-height: 100px;
       position: relative;
   }

.img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: -330px;
    }

h1
 {
        font-size: 12rem;
        line-height: 13rem;
        margin-bottom: 0rem;
        font-family: laries;
}

h1 a, #deco-footer a {
        /* color: #886890; */
        /* text-shadow: #00ff44bb  0.5rem 0.5rem 0rem, #00ff447d  1rem 1rem 0rem; */

        color: #ffffff;
        text-shadow: #cb6ce6bb  0.5rem 0.5rem 0rem, #cb6ce67d  1rem 1rem 0rem;


}

#deco-row {
        padding-bottom: 1rem;
}

.header {
        background-size: cover;

        height: 33rem;
        padding-left:3rem;    
        padding-right:3rem;    
        padding-top:4rem;    

        background-image: url("../images/page6.png");

}


#deco-footer {
        background-size: cover;
        min-height: 45rem;
        background-image: url("../images/page6.png");
        margin-bottom: 0rem;
        padding: 3rem;
        font-size: 8rem;
        line-height: 11rem;
        margin-bottom: 0rem;
        font-family: laries;
}


line {display: none;}

li {
        text-align: left;
}

h3 {
        padding-top: 0.5rem;
        line-height: normal;

}
/* h2#activism, h2#allies, h2#cail */
h2
{
    font-family: 'Genty', serif;
    font-size: 7rem;
    line-height: 7rem;
    /* margin-bottom: 2rem; */
    margin-right: 1rem;
    display: inline-block;
    hyphens: none;
    margin-bottom: 0;

}       


h2 a {   
         /* color:#eee; */
         color: light-dark(var(--light-h2), var(--dark-h2));

}

/* https://stackoverflow.com/questions/78298117/how-can-i-style-text-with-image-stroke-and-shadow-simultaneously */
/* .letsgo {
  position: relative;
  text-decoration: none;

  background-image: 
        linear-gradient(light-dark(var(--light-tb), var(--dark-tb))), url("../images/page6.png");



  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  paint-order:  stroke fill;


}
.letsgo::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 0.3rem light-dark(var(--light-color), var(--dark-color));
  paint-order:  stroke fill;

} */


.activism {
        /* background-image: url("../images/page4.png"); */
        background-size: cover;
        /* height: 22rem; */

        /* padding-left:3rem;      */
}



.allies {
        /* background-image: url("../images/page3.png"); */
        background-size: cover;
        /* padding-left:3rem;    */
        /* height: 22rem; */

}

@media screen and (max-width: 640px) {

    h1 {
        font-size: 10rem;
        line-height: 12rem;
        word-wrap: normal;


    }
        h2 {
                font-size: 5rem;
                line-height: 5rem;
        }
}


@media screen and (max-width: 410px) {

        h1 {
                font-size: 7rem;
                line-height: 9rem;
                word-wrap: normal;


        }
        h2 {
                font-size: 4rem;
                line-height: 4rem;
        }

}


@media screen and (max-width: 900px) {

        h2 {
                /* font-size: rem; */
                padding-left: 1rem;
        }

        #deco-footer {
                padding: 2rem;
                font-size: 6rem;
                line-height: 9rem;
                hyphens: none;
        }
}



td {
  vertical-align: top;
}


.dark #cails, .dark #sets {
    filter: invert(1);
}

.decor {
        filter: brightness(0);
        opacity: 0.3 !important;
}

.dark .decor {
        filter: brightness(1);
}

.to-bottom{
display: -webkit-inline-flex;
display: -moz-inline-flex;
display: inline-flex;

-webkit-flex-flow: row nowrap;
-moz-flex-flow: row nowrap;
flex-flow: row nowrap;

-webkit-align-items: flex-end;
-moz-align-items: flex-end;
align-items: flex-end;}

.caption {
  opacity: 0.25 !important;

}
.caption a {
                 color: light-dark(var(--light-h1), var(--dark-h1));
                 opacity: 1.0 !important;

}

#lens {
        opacity: 1 !important;
}

.vertical-separate {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

img#butterflies {
    width: 70%;
}