@import "chota.min.css";
@import "custom.css";


@font-face {
    font-family: 'RetraConsole';
    src: url(../fonts/RetraConsole.ttf) format('woff2');
}

:root {
    /* this has to be set to switch between light or dark */
    color-scheme: light dark;
  
    --light-bg:#f9f1e6;
    --light-bg-bottom:#eee9cb;
    --light-hbg: #0e3b3925;
    --light-qbg: #ffdb002e;
    --light-tb: #ecf1efc5;
    --light-color: #360000;
    --light-h:  #e600ff;
    --light-cog: #b388b1;
    --light-figtext:  #e8e2d5b9;
    --light-shadow:  #857c467c;
    --light-a: #851748;
    --light-menu: #e0cfc1;
    --light-row-bg: #eee9cbb4;
  
    --dark-bg: #2c3236;
    --dark-bg-bottom: #202528;
    --light-hbg: #f5c7d900;
    --dark-qbg: #6f55835d;
    --dark-tb: #252425c5;
    --dark-color: #e5daff;
    --dark-h: #e680c4;
    --dark-cog: #5a6f78;
    --dark-shadow:  #02131a;
    --dark-figtext:  #02131a9d;
    --dark-a: #c593a6;
    --dark-menu: #45434d;
    --dark-row-bg: #2c3236;

  }

  body {
        background:  light-dark(var(--light-bg), var(--dark-bg));

  }

  #wide-header {
  /* body{ */
  background-image: url("/images/image-from-rawpixel-id-12241526-edited.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  width: 100%;
  height: 160rem;
  position: absolute;
  top: -10rem;
  z-index: -1;

  background-image:  linear-gradient(to bottom,
                               transparent 50%,
                                light-dark(var(--light-bg), var(--dark-bg)) 75%),
                  url("/images/image-from-rawpixel-id-12241526-edited.png");

}

  h1, h2 {
    font-family: RetraConsole, 'Courier New', Courier, monospace;
  }
  h1 {  
    font-size: 9.5rem;
    line-height: 9.5rem;
    padding-top: 11rem;
    padding-bottom: 60rem;
    text-align: center;
    -webkit-text-stroke: 0.3rem light-dark(var(--light-h), var(--dark-h));

  }
  h1 a {
        color: light-dark(var(--light-cog), var(--dark-cog));

  }
  h1 a:hover {
    opacity: 1 !important;
    color: #ffffff00 !important;
    /* -webkit-text-stroke: 0.3rem light-dark(var(--light-a), var(--dark-a)); */

  }
  h2 {
        text-align: center;

    font-size: 4rem;
    line-height: 4rem;
  }

  /* #cog {
    color: light-dark(var(--light-cog), var(--dark-cog));
  }
  #sci {
    color: light-dark(var(--light-sci), var(--dark-sci));


  } */


  @media screen and (max-width: 1250px) {
  #wide-header {
  background-position: top;

    height: 160rem;

  }
  h1 {  
  }
}

