html {
    height: 100%;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


:root {
    /* this has to be set to switch between light or dark */
    color-scheme: light dark;
  
    --light-bg: #fff6f3;
    --light-color: #333;
    --light-h: #a96b8a;
    --light-a: #a33b80;
  
    --dark-bg: #441809;
    --dark-color: #ffe6ea;
    --dark-h: #a96b8a;
    --dark-a: #e47ec7;
  }


body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
}

.light {
    /* forces light color-scheme */
    color-scheme: light;
  }
  .dark {
    /* forces dark color-scheme */
    color-scheme: dark;
  }


body > .container {
    max-width: 100rem;
}

.text-col {
    columns: 2;
}

.text-col-2 {
    columns: 2;
}

@media screen and (max-width: 900px) {
    body > .container {
        max-width: 60rem;
    }
    .text-col {
        columns: 1;
    }

}

p {
    text-align: justify;
    /* padding-left: 1rem; */

}

.flip {
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH;
}

h2 {
    scroll-margin-top: 1rem;
    /* padding-left: 1rem; */

}



@font-face {
    font-family: DhCario;
    src: url(../fonts/DhCario.otf);
}

h1 {
    font-family: 'DhCario', serif;
    font-size: 20rem;
    line-height: 18rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    padding-top: 0rem;
    /* display: inline-block; */

}

h2#publications {
    font-family: 'DhCario', serif;
    font-size: 8rem;
    line-height: 10rem;
    /* margin-bottom: 2rem; */
    margin-right: 1rem;
    display: inline-block; 
}

span#selected {
    font-family: 'Borel', serif;
    font-size: 2.25rem;
    /* padding-left: 1rem; */
    display: inline-block;
    margin-bottom: 0.5rem;
    opacity: 0.5;
}

@media screen and (max-width: 640px) {

    h1 {
            /* text-align: center; */
            font-size: 14rem;
            line-height: 14rem;
    }
}


 h2, h3, .brand{
    font-family: 'Borel', serif;
    margin-bottom: 0.5rem;
}


h1 a, h2 a, h3 a {
    color: light-dark(var(--light-h), var(--dark-h));
   
}

a {
    text-decoration: none;
    color: light-dark(var(--light-a), var(--dark-a));

}


p a:hover, li a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 6rem;
}

.column {
    clear: both;
}

.footer {
/* font-size: 1.25rem; */
padding-bottom: 1rem;
}

.item {
    text-indent: -4rem;
    list-style-type: none;
    padding-bottom: 0.5rem;
}

p.image-url {
    display: none;
}

.entry {
    max-width: 60rem;
}

ul{
    margin-block-start: 0;
}

ul.socials {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

ul.right-socials {
    flex-direction: row-reverse;
}

li.social {
    padding-right: 1.5rem;
    font-size: 4rem;
}

li.right-social {
    padding-left: 1.5rem;
    padding-right: 0;

}

figure {
    margin: 0;
    position: relative;
    margin-left: 1rem;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 200px;
    height: 200px;
    float: right;
}

.pfp {
    overflow: hidden;
    max-width: unset;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    /* border-radius: 50%;
    margin-left: 0.5em; */
}

@media screen and (max-width: 725px) {
    figure {
        margin-bottom: -0.5rem;
    }
}

.small-icons {
    text-indent: 0;
    /* display: inline-block; */
}
/* 
@media screen and (max-width: 900px) {
    img {
        display: none;
    }
} */

.moth {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
img.bug, img.perceptron {
    width: 95%;
  }

  img.snail
  {
    width: 42%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-top: 2rem;
  }



  .vertical-center
  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  p.caption {
    font-family: 'Borel', serif;
    font-size: 1.4rem;
    opacity: 0.4;
    padding-top: 2rem;
  }

  p.caption a {
    opacity: 0.75;
}

/* @media (prefers-color-scheme: light) {
    img {
        filter: brightness(0); 
    }
}

@media (prefers-color-scheme: dark) {
    img {
        filter: none;
    }
} */

.light img {
    filter: brightness(0); 
    opacity: 0.5;

}

.deselected 
{
    display: none;
}