html {
    height: 100%;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body > .container {
    max-width: 60rem;
}

p {
    text-align: justify;
}

.flip {
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH;
}

h2 {
    scroll-margin-top: 1rem;
}

h1 {
    font-size: 5.5rem;
    margin-bottom: 0;
}

h1, h2, h3, .brand{
    font-family: 'Borel', serif;
}

h1 a, h2 a, h3 a {
    color: #a96b8a;    
}

a {
    text-decoration: none;
    color:#a33b80;
}

a:hover
{
    color:#bf8ab1;
}

p a:hover, li a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 6rem;
}

.column {
    clear: both;
}

.footer {
font-size: 1.25rem;
padding-bottom: 1rem;
}

.item {
    text-indent: -3rem;
    list-style-type: none;
    padding-bottom: 0.5rem;
}

p.image-url {
    display: none;
}

ul.socials {
    list-style-type: none;
    display: flex;
    padding: 0;
}

li.social {
    padding-right: 1.5rem;
    font-size: 4rem;
}

figure {
    margin: 0;
    position: relative;
    margin-left: 1rem;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 200px;
    height: 200px;
    float: right;
}

.pfp {
    overflow: hidden;
    max-width: unset;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    /* border-radius: 50%;
    margin-left: 0.5em; */
}

@media screen and (max-width: 725px) {
    figure {
        margin-bottom: -0.5rem;
    }
}

img {
    -webkit-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    -ms-transition: filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
}

img:hover {
    /* mix-blend-mode: hard-light; */
    -webkit-filter: grayscale(20%) contrast(120%);
    filter: grayscale(20%) contrast(120%);
}

.small-icons {
    text-indent: 0;
    /* display: inline-block; */
}