@import "chota.min.css";
@import "custom.css";


:root {
    /* this has to be set to switch between light or dark */
    color-scheme: light dark;
  
    --light-bg: #f5c7d9;
    --light-hbg: #f5c7d925;
    --light-qbg: #f0ecf1c5;
    --light-tb: #f0ecf1c5;
    --light-color: #08094e;
    --light-h: #3c5dff;
    --light-h1: #002aff;
    --light-a: #354dc6;
    --light-menu: #96234d23;
  
    --dark-bg: #76b8ff;
    --light-hbg: #f5c7d900;
    --dark-qbg: #272327c5;
    --dark-tb: #252425c5;
    --dark-color: #5c060c;
    --dark-h: #f34289;
    --dark-a: #d8424b;
    --dark-menu: #5a499523;

    --font-family-sans: 'Inter', sans-serif;
    font-weight: 300;
  }

@font-face {
  font-family: lyzero;
  src: url(../fonts/lyzero-demo.regular.ttf);
}


/* a {
        color: #cb6ce6;
} */
 .img-container {
       overflow: hidden;
      height: 40px;
       max-height: 100px;
       position: relative;
   }

.img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: -330px;
    }

h1
 {
        font-size: 12rem;
        line-height: 12rem;
        margin-bottom: 0rem;
        font-family: lyzero;
                /* word-break: break-all; */
                hyphens: manual;

}




h1 a {
                color: light-dark(var(--light-h1), var(--dark-bg));

                -webkit-text-stroke: 0.2rem light-dark(var(--light-bg), var(--dark-h));


        /* color: #886890; */
        /* text-shadow: #00ff44bb  0.5rem 0.5rem 0rem, #00ff447d  1rem 1rem 0rem; */

        /* color: #000; */
        text-shadow: light-dark(var(--light-bg), var(--dark-h)) 0rem 0rem 2.5rem;
           paint-order: stroke fill;


}

h2 a {
                /* -webkit-text-stroke: 0.2rem light-dark(#d287b1, #7b89cf);

                text-shadow: light-dark(#d287b1, #7b89cf) 0rem 0rem 1rem;
                paint-order: stroke fill; */


}

/* light-dark(var(--light-hbg), var(--dark-hbg)) */

.header {
        background-size: cover;
  position: relative;
  min-height: 39rem; 
        padding-right:3rem;    
        /* padding-top:22rem;     */
        background-image: 
                linear-gradient(light-dark(hsla(0, 0%, 86%, 0.543), hsla(0, 0%, 86%, 0))),
                url("../images/image-from-rawpixel-id-5925820-jpeg.jpg");
        /* background-image: url("../images/image-from-rawpixel-id-5925820-jpeg.jpg"); */
        background-position: center;

}

#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
          padding-left:3.5rem;    

}


li {
        text-align: left;
}

h3 {
        padding-top: 0.5rem;
        line-height: normal;

}
/* h2#activism, h2#allies, h2#cail */
h2
{
    font-family: 'lyzero', serif;
    font-size: 7rem;
    line-height: 8rem;
    /* margin-bottom: 2rem; */
    margin-right: 1rem;
    display: inline-block;
    hyphens: none;
    margin-bottom: 0;

}

h2#cail a, h2#activism a, h2#allies a  {
  /* background: url("../images/page6.png") no-repeat; */
        -webkit-background-clip: text;
          /* color: light-dark(var(--light-bg), var(--dark-bg)); */
        /* -webkit-text-stroke: 0.3rem light-dark(var(--light-color), var(--dark-color)); */
        paint-order:  stroke fill;

  
}



/* https://stackoverflow.com/questions/78298117/how-can-i-style-text-with-image-stroke-and-shadow-simultaneously */
/* .letsgo {
  position: relative;
  text-decoration: none;

  background-image: 
        linear-gradient(light-dark(var(--light-tb), var(--dark-tb))), url("../images/page6.png");



  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  paint-order:  stroke fill;


}
.letsgo::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 0.3rem light-dark(var(--light-color), var(--dark-color));
  paint-order:  stroke fill;

} */


.activism {
        /* background-image: url("../images/page4.png"); */
        background-size: cover;
        /* height: 22rem; */

        /* padding-left:3rem;      */
}



.allies {
        /* background-image: url("../images/page3.png"); */
        background-size: cover;
        /* padding-left:3rem;    */
        /* height: 22rem; */

}


@media screen and (max-width: 904px) {

    h1 {
            /* text-align: center; */
            font-size: 8rem;
            line-height: 8rem;
             /* margin-left: 20rem; */
             /* word-wrap: normal; */
             /* width: 40rem;  */


    }
}

@media screen and (max-width: 560px) {
#header-content {

                     padding-left: 2rem;

}
    h1 {
            /* text-align: center; */
            font-size: 6rem;
            line-height: 6rem;
             /* word-wrap: normal; */
             /* width: 40rem;  */


    }
}
@media screen and (max-width: 400px) {
#header-content {

                     padding-left: 1rem;

}
    h1 {
            /* text-align: center; */
            font-size: 5rem;
            line-height: 5rem;
             /* word-wrap: normal; */
             /* width: 40rem;  */


    }
}

.navbar {
  overflow: hidden;
    background-color: light-dark(var(--light-menu), var(--dark-menu));
    margin-bottom: 3rem;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 1rem 2rem 1rem 1.5rem; 
    text-decoration: none;
    font-size: 1.8rem;
    /* font-family:'Borel', serif; */
    /* background-color: light-dark(var(--light-tb), var(--dark-tb)); */
}

.navbar a:hover{
        background-color: light-dark(var(--light-menu), var(--dark-menu));


}

td {
  vertical-align: top;
}

