@import "custom.css";

@font-face {
    font-family: 'DhCario';
    src: url(../fonts/DhCario-VF.otf) format('opentype');
}


table, td
{
    text-align: left;
    hyphens: none;
}

td:first-child
{     white-space: nowrap; 
}

h1 {
    font-weight: 900;
}
@media screen and (max-width: 910px) {

    h1#olivia {
            font-size: 14rem;
            line-height: 14rem;
    }
}

h2#publications, h2#featured {
    font-size: 8rem;
    line-height: 9rem;
    margin-right: 1rem;
    display: inline-block; 
    font-family: 500;
}


#selected {
        font-weight: 100;
}


h1, h2#publications, h2#featured {
    font-family:  'DhCario', Garamond, serif;

}

 h2, h3, .brand{
    font-family: 'Borel', Garamond, serif;
}

.selected {
    font-family: 'Borel', Garamond, serif;
    font-size: 2.25rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-style: normal;
    color: light-dark(#989095, #9d767e);
}