@import "custom.css";

.article-preview{
    padding-top: 2rem;
}

.date
{
    top: -1rem;
    position: relative;
}

.p13 {
    width: 82%;
    margin-left: auto;
    margin-right: 0;
}

img.preview, img.square-preview, img.square-preview  {
    opacity: 1;
    filter: none;

    width: calc(100% - 1.5rem);

}

.odd  .square-preview 
{
       margin-left: 1.5rem;
    box-shadow: -1.5rem 1.5rem light-dark(var(--light-shadow), var(--dark-shadow));

}

.odd  .square-preview:hover
{
    box-shadow: -1rem 1rem light-dark(var(--light-shadow), var(--dark-shadow));

}

 .even .square-preview
{
    margin-right: 1.5rem;
    box-shadow: 1.5rem 1.5rem light-dark(var(--light-shadow), var(--dark-shadow));

}

.even .square-preview:hover {
        box-shadow: 1rem 1rem light-dark(var(--light-shadow), var(--dark-shadow));

}

.desc
{
    display: none;
    font-size: smaller;
    padding: 0rem;
    text-align: center;
    top: -0.45rem;
    position: relative;
}