html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 300;
  line-height: 1.6;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

ol, ul {
  list-style: none;
}

li {
  padding-bottom: 0.15em;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  background: #fff;
  font: 16px/1.4 "Lato", sans-serif;
  color: #000;
}

#header {
  margin-top: 100px;
  font-weight: 300;
  font-size: 54px;
  text-align: center;
  letter-spacing: 0px;
}

#header a {
  text-decoration: none;
}

#description {
  font-weight: 300;
  padding-top: 1em;
  text-align: justify;
}

#description img {
  width: 180px;
  float: left;
  padding-right: 1em;
  padding-bottom: 0.25em;
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: none;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

#description img:hover {
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: none;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

#index {
  clear: both;
  padding-top: 1em;
}

.container {
  margin: 0 auto;
  max-width: 550px !important;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

#menu h1 {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#menu h1:hover {
  color: #9B0E0E;
  text-decoration: none;
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

h1 {
  font-size: 30px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

h1 a {
  color: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

a:hover, a:active {
  color: #9B0E0E;
  text-decoration: none;
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

ul, ol {
  margin: 1em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: disc;
}

em, i {
  font-weight: 300;
  font-style: italic;
}

strong, b {
  font-weight: 400;
}

img {
  max-width: 100%;
}

.altmetric-embed a {
  border-bottom: 0;
}

.altmetric-embed a:hover {
  border-bottom: 0;
}

.gmnoprint img {
  max-width: none;
}

.date {
  padding-bottom: 1em;
}

.date a {
  font-weight: 300;
  color: #666;
  text-decoration: none;
}

::-moz-selection {
  color: #000;
  background: #eee;
}

::selection {
  color: #000;
  background: #eee;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


/*********************/


/* LAYOUT / SECTIONS */


/*********************/

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

@media screen and (max-width: 640px) {
  .site-avatar {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-avatar img {
  border-radius: 5px;
}

.site-info {
  float: left;
}

@media screen and (max-width: 640px) {
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  .site-description {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  nav {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}

nav a {
  margin-left: 20px;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
  nav a {
    margin: 0 10px;
    color: #4183C4;
  }
}

.posts>.post {
  padding-bottom: 2em;
  border-bottom: 1px dotted #000;
}

.posts>.post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid #666;
  padding: 0.1em 1em;
  color: #666;
  font-size: 22px;
  font-style: italic;
}

.post .comments {
  margin-top: 10px;
}

.post .read-more {
  text-transform: uppercase;
  font-size: 15px;
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-weight: 300;
  bottom: 0;
  /*color: #aaaaaa;

  font-size: 14px;*/
}

footer li, li.icons {
  font-size: 1.75em;
  list-style-type: none;
  display: inline;
}

footer ul, ul.footer {
  padding: 0;
  margin: 0;
  margin-bottom: 0.25em;
}

footer:a .connect {
  list-style: none;
  margin: 0;
  padding: 0;
}

@supports (flex-wrap: wrap) {
  .connect {
    display: flex;
    flex-wrap: wrap;
  }
}

.connect-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  flex-basis: 25%;
}

.connect-item__link {
  color: #ffffff;
  text-decoration: none !important;
}

.connect-item__link * {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6+ */
  filter: grayscale(100%);
  /* Current draft standard */
  -webkit-filter: grayscale(100%);
  /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.connect-item__link:hover {
  text-decoration: none;
  color: #000000;
}

.connect-item__link:hover * {
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: none;
  /* Firefox 3.5+ */
  filter: grayscale(0);
  /* Current draft standard */
  -webkit-filter: grayscale(0);
  /* New WebKit */
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.connect-item__caption {
  font-size: small;
  margin: 0 0 5px;
}

.cv img {
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6+ */
  filter: grayscale(100%);
  /* Current draft standard */
  -webkit-filter: grayscale(100%);
  /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.cv a:hover img {
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: none;
  /* Firefox 3.5+ */
  filter: grayscale(0);
  /* Current draft standard */
  -webkit-filter: grayscale(0);
  /* New WebKit */
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

a img {
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6+ */
  filter: grayscale(100%);
  /* Current draft standard */
  -webkit-filter: grayscale(100%);
  /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

a:hover img {
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  filter: none;
  /* Firefox 3.5+ */
  filter: grayscale(0);
  /* Current draft standard */
  -webkit-filter: grayscale(0);
  /* New WebKit */
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.cv li, .affil li, .misc li {
  /*padding-block-end: 1em; */
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  /*     overflow: hidden; */
  min-height: 85px;
}

.misc li {
  min-height: 70px;
}

.cv p {
  margin: 0;
}

.collapse-container> :nth-child(even) {
  display: none;
  padding-left: 0.5rem;
}


/*# sourceMappingURL=style.css.map */

.flip {
  display: inline-block;
  transform: scaleX(-1);
  /* standard */
  filter: FlipH;
  /* IE 6/7/8 */
}

footer a {
  text-decoration: none;
  color: inherit;
}

u.dotted {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.fa, a.fa, a.fa:hover, .ai, a.ai, a.ai:hover {
  border: 0;
}

a {
  border-bottom: 1px dotted black;
}

a:hover {
  border-bottom: 1px solid #000;
}

.small-icons a, footer a, li.icons a, #header a {
  border-bottom: 0;
}

.small-icons a:hover, footer a:hover, li.icons a:hover, #header a:hover {
  border-bottom: 0;
}

.small-icons {
  font-size: 1.1rem;
}

h1:focus {
  outline: 0;
}

span.menu:hover {
  color: #9B0E0E;
  cursor: pointer;
}
