@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


html, * {
  font-weight: 200;
  font-family: 'Inter var', 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
  --fore-color: #111;
  --secondary-fore-color: #444;
  --back-color: #fff;
  --secondary-back-color: #fff;
  --blockquote-color: #f57c00;
  --pre-color: #1565c0;
  --border-color: #fff;
  --secondary-border-color: #fff;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.125rem;
  --a-link-color: #000;
  --a-visited-color: #000;
  --footer-border-color: #fff;
  --footer-back-color: #fff;
  --footer-link-color: #000;
}


div#main {
    max-width: 40rem;
}

h1, h1 a, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

b {
  font-weight: 400;
}


h1#top {
  font-weight: 100;
text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
}


div#description {
}


p a:link, li a:link{
  text-decoration: underline;
}

img#me {
  float: left;
  width: 35%;
  padding-right: 1rem;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

img:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

a:hover, p a:hover, li a:hover, footer a:hover{
  color: gray;
  text-decoration: none;

}

p.center {
  margin: auto;
  width: 90%;
}

li.item  {
    min-height: 90px;
}

@media only screen and (max-width: 600px) {
  li.item  {
    padding-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  li.item  {
    padding-bottom: 1rem;
  }
}

ul.item {
    list-style-type: square;
}



.accordion {
  cursor: pointer;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}
.accordion:hover{
  color: gray;
  text-decoration: none;
}
.panel {
  display: none;
  overflow: hidden;
  padding-left: 1rem;
  margin-top: -1rem;
}


.altmetric-embed {
    padding-left: 0.3rem;
}

.flip {
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH;
}
footer{text-align: center;}
footer li{  list-style: none;
  display: inline;
  font-size: 1.75rem;
    margin: 0;
    padding: 0;}
footer ul{
    margin: 0;
    padding: 0;}

    .cv {
    font-size: 2rem;
    padding-top: 0.5rem;
}
