@import "chota.min.css";
@import "custom.css";

:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: #f3e4cf;
  --light-qbg: #a0948629;
  --light-tb: #b94031;
  --light-color: #202c31;
  --light-h: #5500ff;
  --light-a: #a27d5d;
  --light-menu: #a6594c;

  --dark-bg: #0c1b30;
  --dark-qbg: #6f55835d;
  --dark-tb: #46bfce;
  --dark-color: #dfd3ce;
  --dark-h: #aaff00;
  --dark-a: #5d82a2;
  --dark-menu: #59a6b3;
}
body {
  background: unset;

      background-color: light-dark(white, black);

    background-image: linear-gradient(to top, transparent 0%, light-dark(var(--light-bg), var(--dark-bg)) 60% );
  
}

html {
  height: 100%;
    background-color: light-dark(white, black);

    background-image: linear-gradient(to top, transparent 0%, light-dark(var(--light-bg), var(--dark-bg)) 60% );

  background-size: cover;
}




.content
{
  margin-top: 0rem;
}


#wide-header {
  /* body{ */
  background-image: url("/images/ExamplesChinese00Jone_0115-edit.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* background-position-y: -30rem; */
  background-position: bottom;
  background-size: cover;
  background-size: 100%;
  width: 100%;
  height: 60rem;
  position: absolute;
  /* z-index: -1; */
}

h1  {
  position: relative;
  font-size: 20rem;
  line-height: 20rem;
  font-family: laries;
  padding-top: 20rem;
  padding-bottom: 20rem;
}
.paragraph {
padding-top: 2.5rem;
}
h2 {
    font-family: laries;

  /* font-family: var(--font-family-mono); */
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 500;
}
@media screen and (max-width: 900px) {

  h1 {
    font-size: 15rem; 
    line-height: 15rem;
    hyphens: auto;
    padding-top: 10rem;
    padding-bottom: 15rem;
  }
  #wide-header {
    height: 40rem;
  }

  .paragraph {
padding-top:0rem;
}
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 8rem; 
    line-height: 8rem;
    hyphens: auto;
    padding-bottom: 6rem;
  }
  h2 {
    /* font-size: 3rem; */
  }
  #wide-header {
    height: 25rem;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 6rem; 
    line-height: 6rem;
    hyphens: auto;
    padding-bottom: 2.5rem;
  }
  #wide-header {
    height: 20rem;
  }
}

.dark #wide-header {
      filter: invert(100%);
}

.row.remaining {    top:-45rem;
}

@font-face {
  font-family: laries;
  src: url(../fonts/laries.otf);
}



#navbar a{
  color: light-dark(var(--light-bg), var(--dark-bg));
}

.line {
  height: 10rem;
  background-image: linear-gradient(#bb86a9, #bb86a9);
  background-size: 0.3rem 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
