@import "chota.min.css";
@import "custom.css";


:root {
    /* this has to be set to switch between light or dark */
    color-scheme: light dark;
  
    --light-bg: #fcd8e6;
    --light-hbg: #f5c7d925;
    --light-qbg: #94958d30;
    --light-tb: #f0ecf1c5;
    --light-color: #080966;
    --light-h:  #002aff;
    /* #3c5dff; */
    --light-h1: #4710b6;
    --light-a: #354dc6;
    --light-menu: #ffcded;
  
    --dark-bg: #003868;
    --light-hbg: #f5c7d900;
    --dark-qbg: #94958d30;
    --dark-tb: #252425c5;
    --dark-color: #ffdadb;
    --dark-h: #e680c4;
    --dark-h1: #8adbfa;
    --dark-a: #e895b5;
    --dark-menu: #594995;

  }

@font-face {
  font-family: lyzero;
  src: url(../fonts/lyzero-demo.regular.ttf);
}



.content
{
  margin-top: 0rem;
}


#wide-header {
        background-image: 
        linear-gradient(light-dark(hsla(0, 0%, 86%, 0.543),
        hsla(312, 80%, 60%, 0.2))),
        url("../images/image-from-rawpixel-id-5925820-jpeg.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        /* background-position-y: -30rem; */
        background-position: bottom;
        background-size: cover;
        background-size: 100%;
        width: 100%;
        height: 60rem;
        position: absolute;
        z-index: -1;
}

h1
 {        position: relative;

        font-size: 12rem;
        line-height: 12rem;
        margin-bottom: 0rem;
        font-family: lyzero;
        /* word-break: break-all; */
        hyphens: manual;
        padding-top: 20rem;
        padding-bottom: 16rem;

}


h1 a {
                color: light-dark(var(--light-h1), var(--dark-h1));


}



@media screen and (max-width: 900px) {

  h1 {
    /* font-size: 15rem; 
    line-height: 15rem;
    hyphens: auto; */
    padding-top: 8rem;
    padding-bottom: 13rem;
  }
  #wide-header {
    height: 45rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 9rem; 
    line-height: 9rem;
    hyphens: auto;
    padding-bottom: 3rem;
  }
  #wide-header {
    height: 30rem;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 7rem;
    line-height: 7rem; 
    hyphens: auto;
    padding-top: 7rem;
    padding-bottom: 0rem;
  }
  #wide-header {
    height: 25rem;
  }
}




 .img-container {
       overflow: hidden;
      height: 40px;
       max-height: 100px;
       position: relative;
   }

.img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: -330px;
    }



#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
          padding-left:3.5rem;    

}


li {
        text-align: left;
}

h3 {
        padding-top: 0.5rem;
        line-height: normal;

}
h2
{
    font-family: 'lyzero', serif;
    font-size: 7rem;
    line-height: 8rem;
    /* margin-bottom: 2rem; */
    margin-right: 1rem;
    display: inline-block;
    hyphens: none;
    margin-bottom: 0;

}


.activism {
        /* background-image: url("../images/page4.png"); */
        background-size: cover;
        /* height: 22rem; */

        /* padding-left:3rem;      */
}



.allies {
        /* background-image: url("../images/page3.png"); */
        background-size: cover;
        /* padding-left:3rem;    */
        /* height: 22rem; */

}




.navbar {
  overflow: hidden;
    background-color: light-dark(var(--light-menu), var(--dark-menu));
    margin-bottom: 3rem;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 1rem 2rem 1rem 1.5rem; 
    text-decoration: none;
    font-size: 1.8rem;
    /* font-family:'Borel', serif; */
    /* background-color: light-dark(var(--light-tb), var(--dark-tb)); */
}

.navbar a:hover{
        background-color: light-dark(var(--light-menu), var(--dark-menu));


}

td {
  vertical-align: top;
}

.light .p13 
{
    filter: brightness(0);
    opacity: 0.8;
}

 .dark .invert {
    filter: invert(1);
}