---
layout: default
title: Hyperempiricism
permalink: /hyperempiricism
published: false
image: /images/cail_banner.png
css: hyper
description: "On this page are some resources for hyperempiricism."

---



<article class="page">

<div class="row">
  <div class="col-12 header" id="header">
<div id="header-content">
    <h1><a href="{{site.url}}/ai">hyper&shy;empiricism</a></h1>
</div>
  </div>
</div>
<!-- 
<script>
const images = ['url("../images/image-from-rawpixel-id-5925820-jpeg.jpg")', 'url("../images/page6.png")'];
const randomImage = images[Math.floor(Math.random() * images.length)];

const locations = ['top', 'center', 'bottom'];
const randomLocation = locations[Math.floor(Math.random() * locations.length)];

document.getElementById("header").style.backgroundImage = randomImage;
document.getElementById("header").style.backgroundPosition = randomLocation;
</script> -->

<div class="row">

        <div class="col-12">
        <h2 id="cail"><a href="#cail">about</a></h2>

        <p>Hyperempiricism and related ideological commitments have become essentially mainstream in contemporary AI,
            modern connectionism, psychology, and cognitive science generally.
            In fact, it has become, along with scientism and experimentalism, mainstream even outside science, wherein people seem to believe data over other types of evidence.
        But truths, i.e. knowledge, understanding, are not only empirical, analytical truths (e.g. mathematics) also exist — as do others. And they are no less scientifically important.</p>
        </div>

  
</div>

<div class="row">

        <div class="col-12">
        <h2 id="cail" class="letsgo" data-text="critical AI"><a href="#cail">critical AI</a></h2>
        </div>

  
</div>



<div class="row">
    <div class="col-12 col-6-md col-6-lg">
        {% include biography.html %}
    </div>
    <div class="col-6 col-6-md col-6-lg vertical-center">
        <img src="{{ site.baseurl }}/images/bug.png" alt="icon" class="hide-xs hide-sm bug">

        <p class="hide-xs hide-sm caption">Pygmalion lens (Table 1, <a href="https://doi.org/10.31235/osf.io/jqxb6">Erscoi et al., 2023</a>)</p>
    </div>
</div>





<div class="row">

    <div class="col-6 col-6-md col-6-lg vertical-center">
        <img src="{{ site.baseurl }}/images/perceptron.png" alt="icon" class="hide-xs hide-sm perceptron">

        <p class="hide-xs hide-sm caption">Guest and Martin (<a href="https://doi.org/10.31234/osf.io/eaf2z">2024</a>; original: <a href="https://apps.dtic.mil/sti/tr/pdf/AD0236965.pdf">Hay et al., 1960</a>)</p>

    </div>

    <div class="col-12 col-6-md col-6-lg">
        {% include mentoring.html %}
    </div>
</div>



</article>
