---
layout: default
---

<div class="content">

	<div id="header">
 	<a href="/">Olivia Guest</a>
	</div>

	<div id="description">
<p><img src="//avatars3.githubusercontent.com/u/5082092?v=3&amp;s=460">
Hi, I am a cognitive computational neuroscientist currently carrying out <a href="//www.psy.ox.ac.uk/team/researchers/olivia-guest">postdoctoral research</a> in the <a href="//www.psy.ox.ac.uk/">Department of Experimental Psychology</a> at the <a href="//www.ox.ac.uk/">University of Oxford</a>.</p>

<p>I have a <a href="//www.software.ac.uk/">Software Sustainability Institute</a> <a href="//software.ac.uk/fellows/olivia-guest">fellowship</a> for 2016. I also am an <a href="//rescience.github.io/board/">associate editor</a> at <a href="//rescience.github.io/">ReScience</a>.</p>

<p>I am available for <a href="//www.ox.ac.uk/news-and-events/find-an-expert/dr-olivia-guest">consultation services</a> regarding computational cognitive modelling.</p>
	</div>

	<div id="index">
      		<div id="menu" class="collapse-container">
		<!--<h1>About Me</h1>      
		  <div>
		      <h2>Current Research Focus</h2>
		
		      <p>My main research involves creating computational models of cognition, specifically category learning in infancy. I am investigating the impact language has on developing cognition, on the formation of category boundaries, and on the ability to generalise from novel experiences.</p>
		
		      <p>I am using various types of connectionist networks, including self-organising maps, to explore the potential roles words can play. Such models can be used to provide support for both mechanistic and functional accounts of how labels can modulate category learning. This computational modelling work aims to examine whether words act as supervisory signals that facilitate the formation of categories, whether they act as features akin to sensory input, or whether words take on both these two roles as a function of development.</p>
		
		      <h2>Academic Background</h2>
		
		      <p>My academic background is inter- and trans-disciplinary. My BSc was in Computer Science at the University of York with a focus on Artificial Intelligence, Machine Learning, Computer Vision, and Natural Language Processing. Subsequently, I undertook an MSc in Cognitive and Decision Sciences at UCL. I then specialised further with a PhD in Psychology at Birkbeck with a focus on cognitive computational models of semantic memory in both healthy participants and two patient groups: patients with a subtype of frontotemporal neurodegeneration (known as semantic dementia) and patients who survived herpes simplex virus encephalitis.</p>
		
		  </div>-->

		  <h1>Publications</h1>
		        <div>
				<h2>Journal Articles</h2>
				<ul class="cv">
				  <li class="cv">Love, B. C., Kopeć, Ł., Guest, O. (2015). <a href="//dx.doi.org/10.1371/journal.pone.0137685">Optimism Bias in Fans and Sports Reporters.</a> <em>PLoS ONE</em>, 10 (9).
				  <a href="//www.plosone.org/article/fetchObject.action?uri=info:doi/10.1371/journal.pone.0137685&representation=PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
				  <br/>
				  Open Science Framework Project: <a href="//osf.io/3xrfa/">Guest, O., Love, B., & Kopeć, Ł. (2015, June 28). Optimism Bias. Retrieved from osf.io/3xrfa </a>.
				  </li>
				  
				  <li class="cv">Cooper, R. P., Guest, O. (2014). <a href="//dx.doi.org/10.1016/j.cogsys.2013.05.001">Implementations are not specifications: specification, replication and experimentation in computational cognitive modeling.</a> <em>Cognitive Systems Research</em>, 27, 42-49.
				  <a href="doc/cooper_14.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
				</ul>
				
				<h2>Peer Reviewed Conference Proceedings</h2>
				<ul class="cv">
				  <li class="cv">Guest, O., Cooper, R. P., Davelaar, E. J. (2014). [High-Level Cognition]. 
				  <a href="doc/guest_14.pdf">The Influence of Implementation on "Hub" Models of Semantic Cognition</a>. In J. Mayor, P. Gomez (Eds.), <em><a href="http://www.worldscientific.com/worldscibooks/10.1142/8747">Computational Models of Cognitive Processes</a></em> (pp. 155-169). World Scientific.
				  <a href="doc/guest_14.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
				  
				  <li class="cv">Guest, O., Cooper, R. P. (2012). <a href="//eprints.bbk.ac.uk/6758/">Semantic Cognition: A Re-examination of the Recurrent Network "Hub" Model</a>. <em>In Proceedings of the 11th International Conference on Cognitive Modelling.</em> (pp. 259-264). Berlin, Germany. April. <a href="http://www.ub.tu-berlin.de/">Universitätsverlag der TU Berlin</a>.
				  <a href="doc/guest_12.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
				</ul>
				
				<h2>Blog Posts</h2>
				  <ul class="cv">
				  <li class="cv">Guest, O. (2015). <a href="//bootphon.blogspot.fr/2015/10/replication-in-computational-cognitive.html">Replication in Computational Cognitive Modelling</a>. <em>The Synthetic Learner Blog.</em></li>
				  </ul>
			</div>

         
		  <h1>Teaching</h1>
		      <div>
			{% include teaching.md %}
		      </div>

      
		</div>


		<h1><a href="doc/cv_olivia_guest.pdf">CV</a></h1>

<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>-->

	</div>
</div>
