iframe {display:none !important;} 

html {
    overflow-y: scroll;
    background-color: transparent;
   
    }

body {
    font-family: 'Open Sans', sans-serif;

    background: #fff; 
    color:#000;
    font-size: 0.875em;
    margin: 0 auto;
    }

a:active, a:focus {
    outline: 0; 
    }

a, a:link {
    color: #000;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
    }

a:hover {
    color: #9b0e0e; 
    text-decoration: none;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
    }

.content {    
    width: 31.250em !important;
    margin: 0 auto;
    overflow: hidden;

        }

#header {

    font-weight: 300;
    font-size: 3.375em;
    color: #000;
    text-align: center;
    background-color: transparent;                    
    width:31.250em!important;
    margin-top: 6.250em;
    margin-bottom: 2.500em;
    letter-spacing: 0;
    }

#header a {
    text-decoration: none;
    }
#beep {
    font-weight: 300;
    font-size: 1.250em;
    background-color: transparent;    
    width:31.250em!important;
    margin-bottom: 3.125em;
    text-align: center;
    }
#description {
    font-weight: 300;
    font-size: 0.875em;
    background-color: transparent;    
    width:31.250em!important;
    margin-bottom: 3.125em;
    }
#description img {
    float: left;
    padding-right: 0.625em;
    }
li.topnav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    display:inline;
    background: #fff;
    color: #e4e4e4;
    letter-spacing:0.063em;
    padding: 0;
    margin:0.375em;
    }

li.topnav a {
    background:#fff;
    display:inline;
    height:2.500em;
    width:31.250em;
    color: #9b0e0e;
    padding:0.625em;
    }
    
li.topnav a:hover {
    padding:0.625em;
    color: #ffffff;
    background:#e4e4e4;
    }

ul.topnav {
    width:31.250em!important;
    text-align: center;
    list-style-type:none;
    margin-left: -0.625em;
    padding:0.625em;
    overflow: hidden;
    font-size:0.750em;
    line-height: 3.125em;
    }

#post {
    font-weight: 400;    
    width:31.250em!important;
    text-align: left;
    margin-top:0.625em;
    background: #ffffff;
    /*border-top: 50px solid #ffffff;
    border-left: 50px solid #ffffff;
    border-right: 50px solid #ffffff;
    border-bottom: 30px solid #ffffff;
    margin-top:70px;*/
    margin-bottom: 3.125em;
    }

.posttitle, a.postlink {  
    font-weight: 300;
    font-size: 1.875em;
    color: #000000;
    margin-bottom: 1.875em;
    text-transform: none;
    line-height: 2.250em;
    }

#text {    
    width:31.250em!important;
    background: #ffffff;
    margin-top:0;
    margin-bottom:1.563em;
    line-height: 20.125em;
    }

#caption {    
    width:31.250em!important;
    line-height: 20.125em;
    margin-top:1.875em;
    margin-bottom:1.563em;
    }

#link {
    padding-top:3.125em;
    padding-bottom:3.125em;
    background: #E4E4E4;    
    width:31.250em!important;
    text-align: center;
    color: #a4a4a4;
    }

.link {
    font-weight: 300;            
    width:31.250em!important;
    font-size: 18px;
    line-height: 1.750em;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.625em;
    }

.link a {
    color: #ffffff;
    }
        
.link a:hover {
    color: #9b0e0e;
    }
  
blockquote {
    padding-left: 0.625em;
    margin-left: 0.313em;
    border-left: 0.250em solid #DCDCDC;
    }

#text ul, #caption ul {
    padding-left: 0.625em;
    margin-left: 0.938em;
    }

#text h1 {
    font-weight: 700;
    font-size: 1.500em;
    line-height: 1.875em;
    }

#photo img, #photo a img {
    width:31.250em!important;
    height: auto;
    }

#photoset {
    width:31.250em!important;
    background-color: #ffffff;
    }

#quote {
    font-weight: 300; 
    color: #000000;
    margin-top:0;
    width:31.250em!important;
    font-size: 20.125em; 
    line-height: 30.125em;
    }

#answer { 
    background-color: #ffffff;    
    width:31.250em!important;
    }

.asker img {  
    border: none;  
    width: 70px;
    height: 70px;
    float:left;
    -moz-border-radius:3.125em;
    -webkit-border-radius:3.125em;
    border-radius:3.125em;
    margin-left: 1.250em;
    margin-right: 1.250em;
    margin-bottom: 1.875em;
    }

.question {  
    font-weight: 300; 
    font-size: 1em;
    line-height: 1.500em;
    color: #000000;
    text-transform: none;
    padding-top: 0;
    padding-left:7.500em;
    margin-right:0.625em;
    }

#answer hr {
    margin-top:1.875em;
    margin-bottom: 1.875em;
    }

#chat {
    width:31.250em!important;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.750em;
    }

ul.chat {
    margin-left: -2.188em;
    list-style: none;
    }
        
li.chat {
    padding-bottom: 0.625em;
    }
    
.label {
    margin-right: 0.313em;
    font-weight: 700;
    }
    
#video {
    background-color: #ffffff;                
    width:31.250em!important;
    height: normal;
    position: relative;
    overflow: visible;
    }
  
.media iframe, .media object, .media embed {
    position: relative;        
    width:31.250em!important;
    height: normal;
    overflow: visible;
    }

#audio { 
    width:31.250em!important;
    height: 160px;
    }

.cover img {    
    border: none;          
    width: 10.000em;
    height: 10.000em;
    float:left;
    margin-right: 1.250em;
    }
  
.audionames {  
    font-weight: 300;
    font-size: 1.750em;
    padding-top: 0;
    color: #000000;
    text-transform: none;
    padding-left: 0;
    padding-bottom: 0.313em;
    line-height: 2.500em;
    }

.audioartist {  
    font-weight: 300;
    font-size: 1.250em;
    color: #000000;
    text-transform: none;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0.625em;
    line-height: 1.625em;
    }

.audioplays {
    font-weight: 300;
    font-size: 0.750em;
    padding-top: 0.625em;
    }
        
#date {
    letter-spacing:0.063em;
    width:31.250em!important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.688em;
    color: #C6C6C6;
    text-transform: uppercase;
    line-height: 0.938em;
    }

#date a {
    color: #C6C6C6;
    text-decoration:none;
    }
        
#date a:hover {
    color: #9b0e0e;
    }
        
#tags {
    text-align:left;
    text-transform:uppercase;
    letter-spacing:0;
    width:31.250em!important;
    line-height: 1em;
    margin-top: 0.313em;
    margin-bottom: 0.313em;
    font-size: 0.625em;
    color: #E5E5E5;
    }

#tags a {
    color: #E5E5E5;
        text-decoration:none;

    }

#tags a:hover {
    color: #9b0e0e;
    }

.like_and_reblog_buttons {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    }

.like_and_reblog_buttons li {
    float: left;
    padding-left: 0;
    padding-right:0.938em;
    margin-left: 0;
    height: 0.625em;
    
    -webkit-transition: opacity 0.4s linear;opacity: 0.2;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.8s ease-out;
    }
    
.like_and_reblog_buttons li:hover {
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
    }

ol.notes {
    padding: 0;
    margin: 0.938em 0;
    list-style-type: none;
    border-bottom: solid 0 #F4F4F4;
    }

ol.notes li.note {
    border-top: solid 0 #F4F4F4;
    padding: 0.250em;
    }

ol.notes li.note img.avatar {
    vertical-align: -0.250em;
    margin-right: 0.625em;
    width: 1em;
    height: 1em;
    }

ol.notes li.note span.action {
    font-weight: 400;
    font-size:0.688em;
    }

ol.notes li.note .answer_content {
    font-weight: normal;
    }

ol.notes li.note blockquote {
    border-color: #eee;
    padding: 0.250em 0.625em;
    margin: 0.625em 0 0 1.563em;
    }

ol.notes li.note blockquote a {
    text-decoration: none;
    }

li.nav {
    font-weight: 300;
    white-space:nowrap;
    text-decoration: none;
    text-transform: uppercase;
    display:inline;
    background: #fff;
    color: #e4e4e4;
    letter-spacing:0.063em;
    padding: 0.625em;
    margin:0.375em;
    }

li.nav a {
    background:#fff;
    display:inline;
    height:2.500em;
    width:31.250em;
    color: #9b0e0e;
    }
    
li.nav a:hover {
    color: #9b0e0e;
    background:#ffffff;
    -webkit-transition: all 0.14s ease-in-out;
    -moz-transition: all 0.14s ease-in-out;
    -o-transition: all 0.14s ease-in-out;
    transition: all 0.14s ease-in-out;
    }

ul.nav {
    width:37.500em!important;
    white-space:nowrap;
    text-align: center;
    list-style-type:none;
    margin-left:-0.625em;
    padding:0.625em;
    overflow: hidden;
    font-size:0.750em;
    }

#footer, #footer a {
    width:31.250em!important;
    margin-top:2.500em;
    margin-bottom:1.250em;
    white-space:nowrap;
    font-weight: 300;
    font-size: 0.875em;
    text-align: center;
   /* line-height:5px;*/
    color: #aaaaaa;
    bottom: 0;
    }
        
#footer a:hover {
    color: #9b0e0e;
    }
  
.collapsible{
    width:31.250em!important;
    cursor: pointer;

    font-weight: 300;
    font-size: 1.875em;
    color: #000000;
    margin-bottom: 1.875em;
    text-transform: none;
    line-height: 2.250em;
    text-decoration: none;
}

#spacer{
    height:2.500em;}
    
    .collapsible div.collapse-open {}
    .collapsible a {  
        text-decoration:none;
}
        .collapsible div.collapse-close {    text-decoration: none;
}
        .collapsible div.collapse-open span {}
        .collapsible div.collapse-close span {}
            .collapse-open:hover {
    color: #9b0e0e; 
    text-decoration: none;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;            }
        .collapse-close:hover {
    color: #9b0e0e; 
    text-decoration: none;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;

      }
/*   .collapse-open:before {
      content: "-";
      margin-right:5px;
      font-family: "Courier New", Courier, monospace;
      text-decoration:none;
      
  }
  .collapse-close:before {
      content: "+";
      margin-right:5px;
      font-family: "Courier New", Courier, monospace;
      text-decoration:none;
      } */
      .collapsible_content{
            width:31.250em!important;
          padding-bottom: 2.500em;
              overflow: hidden;

      }
      
      .collapsible_content img{
          padding: 0.313em;

      }
      .collapsible_content .cv img{
          padding: 0;

      }            .thumb_wrapper {
          margin-left: auto;
          margin-right:auto;
          display: inline-block;
          border: none;
      }

    h3 {padding:0; margin: 0;}
        
   .thumb_wrapper .thumb {
    position: relative;
    width: 4.000em;
    height: 4.000em;
   /* float: left; */
    padding-bottom: 0.313em;
    padding-top: 0;
    padding-left: 0.125em;
    padding-right: 0.125em;
    
    display: inline-block;
    text-align: center;

} 

 .bbk {
  /*     position: relative;

float: left; 
    padding: 5px;*/
        padding:0;
    margin:0;
    padding-bottom: 1.250em;

}
 .thumb  .text {
    /*display: none;*/
    position: absolute;
    left: 0.125em;
    bottom: -0.938em;
    width: 70.250em;
   /* padding: 5px;*/
    font-size: 0.750em;
    line-height:1.063em;
   /* background: #999;
    background: rgba(0,0,0,0.3);
    */
    /*display: inline-block;*/
    text-align: center; 
    color: #ffffff;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
}
.thumb a:hover .text{
        text-decoration: none;
        color: #555555;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
  
}


.bbk img {

    float:right;
    }
.thumb  img, .bbk img, .cv img {
        -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
filter: gray; /* IE6+ */
filter: grayscale(100%); /* Current draft standard */
-webkit-filter: grayscale(100%); /* New WebKit */
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%); 
-o-filter: grayscale(100%);
    }
    
    .thumb a:hover img, .bbk a:hover img, .cv a:hover img {
            -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
    
    filter: none; /* Firefox 3.5+ */
filter: grayscale(0); /* Current draft standard */
-webkit-filter: grayscale(0); /* New WebKit */
-moz-filter: grayscale(0);
-ms-filter: grayscale(0); 
-o-filter: grayscale(0);
    }

ul.cv{
    padding-top:0.313em;
    padding-bottom:0.313em;
    }
    
    li.cv {
        padding-bottom: 0.938em;
        } 
    li.cv li.cv {
        padding-bottom: 0;
	list-style-type:square
        }
    ul.affil{
    padding-top:0.313em;
    padding-bottom:0;
    margin-bottom: 0;
    margin-top: 0;
    }    
    li.affil {
    padding-bottom: 0.313em;
    padding-top: 0.313em;
    }
    
    ul.workshops{
    padding-top:0.313em;
    padding-bottom:0;
    margin-bottom: 0;
    margin-top: 0;
    }    
    li.workshops {
    padding-bottom: 0.938em;
    padding-top: 0.313em; 
    margin-bottom: 0;
    margin-top: 0;
    font-weight:bold;
    }
    li.workshops a{
       font-weight:bold;
    }
  
    p.cv 
    {padding-top: 0.125em;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
        }
            
    h2.cv {
        padding-top:0.938em;
        padding-bottom: 0.313em;
        }
            
            
