---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/**************/

html {
  font-size: 100%;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}


body {
  background: $white;
  font: 16px/1.4 $open-sans;
  color: $black;
}

#header {
    margin-top: 100px;
    font-weight: 300;
    font-size: 54px;
    text-align: center;
    letter-spacing: 0px;
    a { 
        text-decoration: none;
      }
}

#description {
    font-weight: 300;
    padding-top: 1em;
}



.container {
  margin: 0 auto;
  max-width: 550px !important;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;

  line-height: 1.7;
  margin: 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
  
  a { 
  	text-decoration: none;
  }
}


#menu h1 {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
  &:hover {
    color: $darkRed;
    text-decoration: none;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
  
  }
}

h1 {
  font-size: 30px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  outline: 0;
  color: $black;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: opacity 0.4s linear;opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
  
  &:hover, &:active {
    color: $darkRed;
    text-decoration: none;
    -webkit-transition: opacity 0.4s linear;opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-weight: 300;
  color: $gray;
  padding-bottom: 1em;
  a {
    text-decoration: none;	
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px dotted $black;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;

}

footer {
  padding: 20px 0;
  text-align: center;
  color: #aaaaaa;
  bottom: 0;
  font-weight: 300;
  font-size: 14px;

}


.figure {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    vertical-align: top;

}
.caption {
    font-size: small;
    margin: 0 0 5px;    

}

.figure a {
    color: #ffffff;
    text-decoration: none !important;
}

.figure a:hover {
    text-decoration: none;
    color: #000000;

}
    
.figure  img, .cv img{
	-webkit-transition: opacity 0.4s linear;opacity: 1;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
	filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6+ */
	filter: grayscale(100%); /* Current draft standard */
	-webkit-filter: grayscale(100%); /* New WebKit */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%);

    }
    
.figure a:hover img, .cv a:hover img {
	-webkit-transition: opacity 0.4s linear;opacity: 1;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;transition: all 0.4s ease-out;
	
	filter: none; /* Firefox 3.5+ */
	filter: grayscale(0); /* Current draft standard */
	-webkit-filter: grayscale(0); /* New WebKit */
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0); 
	-o-filter: grayscale(0);
 }


.cv img {
    max-height: 16px;

 }
 
.cv li, .affil li{
    padding-block-end: 1em;
}

.cv p {
    margin: 0;
}

.collapse-container>:nth-child(even) {
	display: none;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
