<div class="row">
    <div class="col">
      <h2 id="biography"><a href="#biography">Biography</a></h2>
        <p>I emigrated to the UK from Cyprus in 2006 to pursue an undergraduate degree in <a href="https://www.cs.york.ac.uk/undergraduate/ug-courses/bsc-cs/">Computer Science</a> (2009; University of York, UK). After that, I moved on to an <a href="http://www.ucl.ac.uk/pals/study/masters/TMSPSYSCDS01">MSc in Cognitive and Decision Sciences</a> (2010; University College London, UK).
        I then undertook a <a href="http://www.bbk.ac.uk/psychology/">PhD in Psychological Sciences</a> (2014; Birkbeck, UK), specifically on <a href="https://doi.org/10.5281/zenodo.1210206">computational models for semantic memory</a>.</p>
        
        <p>Since obtaining my PhD, I have worked in labs at the <a href="https://www.psy.ox.ac.uk/research/oxford-babylab">University of Oxford</a>, <a href="http://bradlove.org/">University College London</a>, and as an independent scientist at a <a href="https://www.cyens.org.cy/">research centre in Cyprus</a>.
        In 2020, I moved to the Netherlands to work with <a href="https://sites.google.com/site/aemn1011/home">Andrea E. Martin</a>, before starting as an Assistant Professor at the Radboud where I still work.
        </p>
    </div>
</div>