<ul class="icons">
  <li class="icons">
    <a href="https://v2.overleaf.com/project/5aec9c0905c0c51f33fffd40/output/output.pdf?compileGroup=standard&clsiserverid=clsi2-38&popupDownload=true">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    </a>
  </li>

  <li class="icons">
    <a href="https://www.overleaf.com/read/zfwnyxkkdzxr">
      <i class="ai ai-overleaf" aria-hidden="true"></i>
    </a>
  </li>

<!--   <li class="icons">
    <a href="https://github.com/oliviaguest/cv">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
  </li> -->


  <p style="padding-top:0.5rem">Feel free to <a href="mailto:o.guest@ucl.ac.uk">contact me</a> if you require the most up-to-date version.</p>
</ul>
