
    <footer class="footer">
      <ul>

        <li>
          <a href="//github.com/oliviaguest" title="Fork me on GitHub" style="text-decoration:none">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="//twitter.com/o_guest" title="Follow me on Twitter" style="text-decoration:none">
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <!-- <li>
          <a href="//scholar.social/@olivia" title="Follow me on Scholar Social" style="text-decoration:none">
            <i class="fab fa-mastodon"></i>

          </a>
        </li> -->

        <li>
          <a href="//scholar.google.co.uk/citations?user=ZHGrUooAAAAJ" title="View my Google Scholar profile" style="text-decoration:none">
            <i class="ai ai-google-scholar" aria-hidden="true"></i>
          </a>
        </li>

        <!-- <li>
          <a href="//www.researchgate.net/profile/Olivia_Guest" title="Follow me on ResearchGate" style="text-decoration:none">
            <i class="ai ai-researchgate" aria-hidden="true"></i>
          </a>
        </li> -->

        <!-- <li>
          <a href="//impactstory.org/u/0000-0002-1891-0972" title="View my Impactstory" style="text-decoration:none">
            <i class="ai ai-impactstory" aria-hidden="true"></i>
          </a>
        </li> -->

        <li>
          <a href="//orcid.org/0000-0002-1891-0972" title="View my ORCID profile" style="text-decoration:none">
            <i class="ai ai-orcid" aria-hidden="true"></i>
          </a>
        </li>

        <!-- <li>
          <a href="//figshare.com/authors/Olivia_Guest/2873402" title="View my figshare profile" style="text-decoration:none">
            <i class="ai ai-figshare" aria-hidden="true"></i>
          </a>
        </li> -->

        <!-- <li>
          <a href="//osf.io/38p75/" title="View my OSF profile" style="text-decoration:none">
            <i class="ai ai-osf" aria-hidden="true"></i>
          </a>
        </li> -->

      </ul>

      <span class="flip">©</span> <a href="/license/">Olivia Guest 2013–{{ site.time | date: '%y' }}</a>
    </footer>
  </div>
</div>
