<footer class="footer">
  <ul>
    <li>
      <a href="//github.com/oliviaguest" title="Fork me on GitHub" style="text-decoration:none">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="//twitter.com/o_guest" title="Follow me on Twitter" style="text-decoration:none">
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="//scholar.google.co.uk/citations?user=ZHGrUooAAAAJ" title="View my Google Scholar profile" style="text-decoration:none">
        <i class="ai ai-google-scholar" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="//orcid.org/0000-0002-1891-0972" title="View my ORCID profile" style="text-decoration:none">
        <i class="ai ai-orcid" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <span class="flip">©</span> <a href="/license/">Olivia Guest 2013–{{ site.time | date: '%y' }}</a>
</footer>
