<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script
  src="{{ site.baseurl }}/js/accordion.js"
  async></script>
<script
  src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"
  async></script>
<script src="https://kit.fontawesome.com/43bbae6085.js" crossorigin="anonymous"></script>
