{% assign pubs = site.data.publications | reverse %}
<h2>Journal Articles</h2>
<ul class="cv">

  {% for pub in pubs %}
    {% if pub.type == 'journal' %}
    <li class="cv">

      <div data-badge-popover="right" data-badge-type="donut" data-doi="{% if pub.status == 'in press' %}{{ pub.preprint.doi }}{% else %}{{ pub.doi }}{% endif %}" data-hide-no-mentions="true" data-hide-less-than="20" class="altmetric-embed" style="float:right;clear:both"></div>

      {{ pub.authors }} ({% if pub.status %}{{ pub.status }}{% else %}{{pub.date | date: "%Y"}}{% endif %}). {% if pub.doi %}
      <a href="//dx.doi.org/{{ pub.doi }}">{{ pub.title }}</a>. {% elsif pub.pdf %}
      <a href="{{ pub.pdf }}">{{ pub.title }}</a>. {% else %} {{ pub.title }}. {% endif %} {% if pub.journal %}<i>{{ pub.journal }}</i>. {% endif %}{% if pub.doi %}doi: <a href="//dx.doi.org/{{ pub.doi }}">{{ pub.doi }}</a>. {% endif %}

      <span class="small-icons">
      {% if pub.biorxiv %}
        <a href="{{ pub.biorxiv }}" title="bioRxiv"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
      {% endif %}

      {% if pub.comments %}
        <a href="{{ pub.comments }}" title="comments"><i class="fas fa-comments"></i></a>
      {% endif %}

      {% if pub.doi %}
        <a href="//dx.doi.org/{{ pub.doi }}" title="DOI"><i class="ai ai-doi" aria-hidden="true"></i></a>
      {% endif %}

      {% if pub.figshare %}
        <a href="//figshare.com/{{ pub.figshare }}" title="figshare"><i class="ai ai-figshare" aria-hidden="true"></i></a>
      {% endif %}

      {% if pub.github %}
        <a href="//github.com/{{ pub.github }}" title="GitHub"><i class="fab fa-github"></i></a>
      {% endif %}

      {% if pub.osf %}
        <a href="//osf.io/{{ pub.osf }}"  title="OSF"><i class="ai ai-osf" aria-hidden="true"></i></a>
      {% endif %}

      {% if pub.overleaf %}
        <a href="//overleaf.com/read/{{ pub.overleaf }}" title="Overleaf"><i class="ai ai-overleaf" aria-hidden="true"></i></a>
      {% endif %}

      {%if pub.pdf %}
        <a href="{{ pub.pdf }}" title="PDF"><i class="far fa-file-pdf"></i></a>
      {% endif %}


    </span>

    <!--{% if pub.slides %}
    <p style="margin-top:0.25em">
      <b>Slides</b>: {{ pub.slides.authors }} ({{ pub.slides.year }}): <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.title }}</a>. figshare. doi: <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.doi }}</a>.
    </p>
    {% endif %} -->

    </li>
    {% endif %}
  {% endfor %}

</ul>

<h2>Preprints</h2>
<ul class="cv">

  {% for pub in pubs %} {% if pub.preprint %}

  <li class="cv">

    <div data-badge-popover="right" data-badge-type="donut" data-doi="{{ pub.preprint.doi }}" data-arxiv-id="{{ pub.preprint.arxiv-id }}" data-hide-no-mentions="true" class="altmetric-embed" style="float:right;clear:both"></div>

    {{ pub.authors }} ({{pub.date | date: "%Y"}}). {% if pub.preprint.doi %}<a href="//dx.doi.org/{{ pub.preprint.doi }}">{{ pub.title }}</a>.{% endif %} {% if pub.preprint.url %}<a href="{{ pub.preprint.url }}">{{ pub.title }}</a>.{% endif %}


    <i>{{ pub.preprint.server }}</i>. {% if pub.preprint.doi %}doi: <a href="//dx.doi.org/{{ pub.preprint.doi }}">{{ pub.preprint.doi }}</a>.{% endif %}

    <span class="small-icons">
         {% if pub.preprint.server == "arXiv" %}
         <a href="{{ pub.preprint.url }}" title="arXiv"><i class="ai ai-arxiv" aria-hidden="true"></i></a>
         {% endif %}

         {% if pub.biorxiv %}
         <a href="{{ pub.biorxiv }}" title="bioRxiv"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
         {% endif %}

         {% if pub.comments %}
         <a href="{{ pub.comments }}"  title="comments"><i class="fas fa-comments"></i></a>
         {% endif %}

         {% if pub.doi %}
         <a href="//dx.doi.org/{{ pub.doi }}" title="DOI"><i class="ai ai-doi" aria-hidden="true"></i></a>
         {% endif %}

         {% if pub.figshare %}
         <a href="//figshare.com/{{ pub.figshare }}" title="figshare"><i class="ai ai-figshare" aria-hidden="true"></i></a>
         {% endif %}

         {% if pub.github %}
         <a href="//github.com/{{ pub.github }}" title="GitHub"><i class="fab fa-github"></i></a>
         {% endif %}

         {% if pub.osf %}
         <a href="//osf.io/{{ pub.osf }}" title="OSF"><i class="ai ai-osf" aria-hidden="true"></i></a>
         {% endif %}

         {% if pub.overleaf %}
         <a href="//overleaf.com/read/{{ pub.overleaf }}" title="Overleaf"><i class="ai ai-overleaf" aria-hidden="true"></i></a>
         {% endif %}



         {%if pub.preprint.pdf %}
         <a href="{{ pub..preprint.pdf }}"  title="PDF"><i class="far fa-file-pdf"></i></a>
         {% endif %}

         </span>

  </li>
  {% endif %} {% endfor %}

</ul>


<h2>Conference Proceedings</h2>
<ul class="cv">

  <li class="cv">Love, B. C., <b>Guest, O.</b>, Slomka, P., Navarro, V., & Wasserman, E. (2017).
    <a href="https://mindmodeling.org/cogsci2017/papers/0283/index.html">Deep Networks as Models of Human and Animal Categorization</a>. <em>In Proceedings	of	the	39th	Annual	Meeting	of	the	Cognitive	Science	Society</em>. (pp. 1457-1458).
    <span class="small-icons"><a href="https://mindmodeling.org/cogsci2017/papers/0283/paper0283.pdf"><i class="far fa-file-pdf"></i></a></span>
  </li>

  <li class="cv"><b>Guest, O.</b>, Cooper, R. P., & Davelaar, E. J. (2014). [High-Level Cognition].
    <a href="doc/guest_14.pdf">The Influence of Implementation on "Hub" Models of Semantic Cognition</a>. In J. Mayor, P. Gomez (Eds.), <em><a href="http://www.worldscientific.com/worldscibooks/10.1142/8747">Computational Models of Cognitive Processes</a></em>    (pp. 155-169). World Scientific.
    <span class="small-icons"><a href="doc/guest_14.pdf"><i class="far fa-file-pdf"></i></a></span>
  </li>

  <li class="cv"><b>Guest, O.</b> & Cooper, R. P. (2012). <a href="//eprints.bbk.ac.uk/6758/">Semantic Cognition: A Re-examination of the Recurrent Network "Hub" Model</a>. <em>In Proceedings of the 11th International Conference on Cognitive Modelling</em>. (pp. 259-264).
    Berlin, Germany. April. Universitätsverlag der TU Berlin.
    <span class="small-icons"><a href="doc/guest_12.pdf"><i class="far fa-file-pdf"></i></a></span>
  </li>
</ul>

<h2>Talks</h2>
<ul class="misc">


  <li class="misc"><b>Guest, O.</b> (2018). <a href="https://figshare.com/articles/Women_and_gender_minorities_in_computational_cognitive_science_Sharing_experiences/6871610">Women and gender minorities in computational cognitive science: Sharing experiences</a>. <em><a href="http://womenincogsci.org/announcement/wics-workshop-cognitive-science-society-meeting-madison-wisconsin">Women in Cognitive Science</a> (<a href="http://www.cognitivesciencesociety.org/conference/cogsci-2018/">Cognitive Science Conference 2018</a>)</em>.
    <span class="small-icons"><a href="https://figshare.com/articles/Women_and_gender_minorities_in_computational_cognitive_science_Sharing_experiences/6871610"><i class="ai ai-figshare" aria-hidden="true"></i></a></span>
  </li>

  <li class="misc"><b>Guest, O.</b> (2018). <a href="https://figshare.com/articles/Varieties_of_Reproducibility_in_Empirical_and_Computational_Domains/6818018">Varieties of Reproducibility in Empirical and Computational Domains</a>. <em><a href="https://mltrain.cc/events/enabling-reproducibility-in-machine-learning-mltrainrml-icml-2018/">Enabling Reproducibility in Machine Learning MLTRAIN@RML</a> (<a href="https://icml.cc/">ICML 2018</a>)</em>.
    <span class="small-icons"><a href="https://figshare.com/articles/Varieties_of_Reproducibility_in_Empirical_and_Computational_Domains/6818018"><i class="ai ai-figshare" aria-hidden="true"></i></a></span>
  </li>




</ul>

<h2>Selected Other Writings</h2>
<ul class="misc">
  
  
  <!-- <li class="misc"><b>Guest, O.</b> (2017). <a href="http://neuroplausible.com/connectionism">Block Practical: Connectionist Models and Cognitive Processes</a>. <em>Neuroplausible</em>.
    <span class="small-icons"><a href="http://neuroplausible.com/connectionism#comments"><i class="fas fa-comments"></i></a></span>
  </li> -->

  <!-- <li class="misc"><b>Guest, O.</b> (2017). <a href="http://neuroplausible.com/github">Git (and GitHub) Cheat Sheet</a>. <em>Neuroplausible</em>.
    <span class="small-icons"><a href="http://neuroplausible.com/github#comments"><i class="fas fa-comments"></i></a></span>
  </li> -->

  <li class="misc"><b>Guest, O.</b> (2017). <a href="http://neuroplausible.com/matlab">I hate Matlab: How an IDE, a language, and a mentality harm</a>. <em>Neuroplausible</em>.
    <span class="small-icons"><a href="http://neuroplausible.com/matlab#comments"><i class="fas fa-comments"></i></a></span>
  </li>

  <!-- <li class="misc"><b>Guest, O.</b> (2017). <a href="http://neuroplausible.com/random-network">Artificial Neural Networks with Random Weights are Baseline Models</a>. <em>Neuroplausible</em>.
    <span class="small-icons"><a href="http://neuroplausible.com/random-network#comments"><i class="fas fa-comments"></i></a></span>
  </li> -->

  <li class="misc"><b>Guest, O.</b> (2017). <a href="http://neuroplausible.com/gini">Using the Gini Coefficient to Evaluate Deep Neural Network Layer Representations</a>. <em>Neuroplausible</em>.
    <span class="small-icons"><a href="http://neuroplausible.com/gini#comments"><i class="fas fa-comments"></i></a></span>
  </li>

  <li class="misc"><b>Guest, O.</b> (2016). <a href="//www.software.ac.uk/blog/2016-10-20-open-data-science-conference-uk-2016">Open Data Science Conference UK 2016</a>. <em>Software and research: the Institute's Blog</em>. Software Sustainability Institute.
    <span class="small-icons"><a href="//www.software.ac.uk/blog/2016-10-20-open-data-science-conference-uk-2016">
 <i class="fas fa-comments"></i></a></span>
  </li>

    <li class="misc"><b>Guest, O.</b> & Rougier, N. P. (2016). <a href="//openlab-flowers.inria.fr/t/ieee-cis-newsletter-on-cognitive-and-developmental-systems/129">Dialogue: What is Computational Reproducibility?</a>. <em>IEEE CIS Newsletter on Cognitive and Developmental Systems</em>.
    13 (2).
    <span class="small-icons"><a href="doc/guest_rougier_2016.pdf"><i class="far fa-file-pdf"></i></a></span></li>

  <li class="misc"><b>Guest, O.</b> (2016). <a href="//www.software.ac.uk/blog/2016-09-29-pycon-uk-2016">PyCon UK 2016</a>. <em>Software and research: the Institute's Blog</em>. Software Sustainability Institute.
    <span class="small-icons"><a href="//www.software.ac.uk/blog/2016-09-29-pycon-uk-2016"><i class="fas fa-comments"></i></a></span>
  </li>

  <!-- <li class="misc"><b>Guest, O.</b> (2016). <a href="//software.ac.uk/blog/2016-05-16-pydata-london-2016">PyData London 2016</a>. <em>Software and research: the Institute's Blog</em>. Software Sustainability Institute.
    <span class="small-icons"><a href="//software.ac.uk/blog/2016-05-16-pydata-london-2016"><i class="fas fa-comments"></i></a></span>
  </li> -->
  
    <li class="misc">
    <div data-badge-popover="left" data-badge-type="donut" data-doi="10.15200/winn.146590.01538" data-hide-no-mentions="true" data-hide-less-than="20" class="altmetric-embed" style="float:right;clear:both"></div>

    <b>Guest, O.</b> (2016). <a href="//thewinnower.com/papers/4825-crisis-in-what-exactly">Crisis in What Exactly?</a>.
    <em>The Winnower</em>. doi:<a href="//dx.doi.org/10.15200/winn.146590.01538">10.15200/winn.146590.01538</a>.
    <span class="small-icons"><a href="doc/guest_16.pdf"><i class="far fa-file-pdf"></i></a>
  <a href="https://thewinnower.com/papers/4825-crisis-in-what-exactly#submit"><i class="fas fa-comments"></i></a></span>
  </li>

  <li class="misc"><b>Guest, O.</b>, Wilson, R., Jones, M., & MacLachlan, C. (2016). <a href="//software.ac.uk/blog/2016-04-06-how-do-you-teach-sustainable-software-practices-101">How do you teach Sustainable Software Practices 101?</a>. <em>Software and research: the Institute's Blog</em>.
    Software Sustainability Institute.
    <span class="small-icons"><a href="//software.ac.uk/blog/2016-04-06-how-do-you-teach-sustainable-software-practices-101"><i class="fas fa-comments"></i></a></span>
  </li>

  <li class="misc"><b>Guest, O.</b> (2015). <a href="//bootphon.blogspot.fr/2015/10/replication-in-computational-cognitive.html">Replication in Computational Cognitive Modelling</a>. <em>The Synthetic Learner Blog</em>.
    <span class="small-icons"><a href="//bootphon.blogspot.fr/2015/10/replication-in-computational-cognitive.html"><i class="fas fa-comments"></i></a></span>
  </li>

</ul>
