{% assign pubs = site.data.publications | sort:"date" | reverse %}

{% assign preprints = pubs | where:"type","preprint" %}
{% assign articles = pubs | where:"type","journal" %}

<h2>Journal Articles</h2>
{% include print_research.html pubs=articles %}

<h2>Preprints</h2>
{% include print_research.html pubs=preprints %}

<h2>Selected Talks</h2>
<ul class="item">
  <li class="item"><b>Guest, O.</b> (2018).
    <span class="title"><a href="https://figshare.com/articles/Women_and_gender_minorities_in_computational_cognitive_science_Sharing_experiences/6871610">Women and gender minorities in computational cognitive science: Sharing experiences</a></span>.
    <em><a href="http://womenincogsci.org/announcement/wics-workshop-cognitive-science-society-meeting-madison-wisconsin">Women in Cognitive Science</a> (<a href="http://www.cognitivesciencesociety.org/conference/cogsci-2018/">Cognitive Science Conference 2018</a>)</em>.
    <div class="small-icons"><a href="https://figshare.com/articles/Women_and_gender_minorities_in_computational_cognitive_science_Sharing_experiences/6871610"><i class="ai ai-figshare" aria-hidden="true"></i></a></div>
  </li>

  <li class="item"><b>Guest, O.</b> (2018).
    <span class="title"><a href="https://figshare.com/articles/Varieties_of_Reproducibility_in_Empirical_and_Computational_Domains/6818018">Varieties of Reproducibility in Empirical and Computational Domains</a></span>.
    <em><a href="https://mltrain.cc/events/enabling-reproducibility-in-machine-learning-mltrainrml-icml-2018/">Enabling Reproducibility in Machine Learning MLTRAIN@RML</a> (<a href="https://icml.cc/">ICML 2018</a>)</em>.
    <div class="small-icons"><a href="https://figshare.com/articles/Varieties_of_Reproducibility_in_Empirical_and_Computational_Domains/6818018"><i class="ai ai-figshare" aria-hidden="true"></i></a></div>
  </li>
</ul>
