<p>
  <img src="//avatars3.githubusercontent.com/u/5082092?v=3&amp;s=460"> Hi, I am a cognitive computational neuroscientist currently carrying out <a href="http://bradlove.org/lab#postdocs">postdoctoral research</a> with <a href="//bradlove.org/">Prof. Bradley C. Love</a> in the <a href="//www.ucl.ac.uk/pals/research/experimental-psychology/person/olivia-guest/">Department of Experimental Psychology</a>, <a href="//www.ucl.ac.uk/pals/people/profiles/research-staff/olivia-guest">Division of Psychology and Language Sciences</a>, <a href="https://www.ucl.ac.uk/brain-sciences/">Faculty of Brain Sciences</a>, <a href="//iris.ucl.ac.uk/iris/browse/profile?upi=OGUES12">University College London</a>.
</p>

<p>
  My undergraduate degree was in <a href="https://www.cs.york.ac.uk/undergraduate/ug-courses/bsc-cs/">Computer Science</a>. After that, I moved on to an <a href="http://www.ucl.ac.uk/pals/study/masters/TMSPSYSCDS01">MSc in Cognitive and Decision Sciences</a>. I then undertook a <a href="http://www.bbk.ac.uk/psychology/">PhD in Psychology</a> on <a href="https://doi.org/10.5281/zenodo.1210206">computational models for semantic memory</a>.
</p>

<p>
  My current research primarily involves the creation and evaluation of computational accounts — such as deep and shallow artificial neural networks — for categorisation and conceptual representation in healthy adults, patient groups, infants, and animal models. I also have interests in computational modelling and data science more broadly, e.g., <a href="http://redistrict.science">redistrict.science</a>.
</p>

<p>
  I blog about my research and related topics on <a href="http://neuroplausible.com">neuroplausible.com</a> and I (with <a href="https://www.mpi.nl/people/bergmann-christina">Christina Bergmann</a>) try to maintain a list of underrepresented cognitive computational scientists at <a href="http://compcog.science/">compcog.science</a>.
</p>
