<div class="row">
  <div class="col">
    <h2 id="about"><a href="#about">About</a></h2>
    <figure>
      <img class="pfp" src="https://avatars.githubusercontent.com/u/5082092" alt="photograph of Olivia">
    </figure>
    <p>Hi! I am an <a href="https://www.ru.nl/english/people/guest-o/">Assistant Professor in Computational Cognitive Science</a> at the <a href="https://www.ru.nl/donders/">Donders Institute for Brain, Cognition and Behaviour</a> and the <a href="https://www.ru.nl/ai/">School of Artificial Intelligence</a>, at Radboud University, Netherlands.</p>

    <p>My research interests comprise (meta)theoretical, critical, and radical perspectives on the neuro-, computational, and cognitive sciences broadly construed.
    Additionally, I am an Associate Editor-in-Chief for <a href="http://rescience.github.io/board/">ReScience C</a> and for the <a href="https://joss.theoj.org/about#editorial_board">Journal of Open Source Software</a>.</p>

    <p>I am committed to <a href="https://thepsychologist.bps.org.uk/volume-33/november-2020/bropenscience-broken-science">equity, diversity, and inclusion in (open) science</a>, e.g., <a href="https://neuroplausible.com/programming">promoting access to technical skills training</a> — including the broader <a href="https://arxiv.org/abs/2009.14258">decolonisation of cognitive and computational sciences</a>.
    Relatedly, <a href="https://www.mpi.nl/people/bergmann-christina">Christina Bergmann</a> and I maintain a <a href="http://compcog.science/">list of underrepresented cognitive computational scientists</a>.</p>
  </div>
</div>