<p>
  <!-- <img id="me" src="//avatars3.githubusercontent.com/u/5082092?v=3&amp;s=460"> -->
  <img id="me" src="/images/me_sun.png">
</p>

<p>
Hi! I am an <a href="https://www.ru.nl/english/people/guest-o/">Assistant Professor in Computational Cognitive Science</a> at the <a href="https://www.ru.nl/donders/">Donders Institute for Brain, Cognition and Behaviour</a> and the <a href="https://www.ru.nl/ai/">School of Artificial Intelligence</a>, at Radboud University, Netherlands.
</p>
<p>
My main interests are <i>a</i>) creating and evaluating models for conceptual organisation, semantic memory, and categorisation and <i>b</i>) (meta)theory.
Additionally, I am an Associate Editor-in-Chief for <a href="http://rescience.github.io/board/">ReScience C</a> and for the <a href="https://joss.theoj.org/about#editorial_board">Journal of Open Source Software</a>.
</p>


<p>
I emigrated to the UK from Cyprus in 2006 to pursue an undergraduate degree in <a href="https://www.cs.york.ac.uk/undergraduate/ug-courses/bsc-cs/">Computer Science</a> (2009; University of York, UK). After that, I moved on to an <a href="http://www.ucl.ac.uk/pals/study/masters/TMSPSYSCDS01">MSc in Cognitive and Decision Sciences</a> (2010; University College London, UK).
I then undertook a <a href="http://www.bbk.ac.uk/psychology/">PhD in Psychological Sciences</a> (2014; Birkbeck, UK), specifically on <a href="https://doi.org/10.5281/zenodo.1210206">computational models for semantic memory</a>. Since obtaining my PhD, I have worked in labs at the <a href="https://www.psy.ox.ac.uk/research/oxford-babylab">University of Oxford</a>, <a href="http://bradlove.org/">University College London</a>, and as an independent scientist at a <a href="https://www.cyens.org.cy/">research centre in Cyprus</a>.
</p>

<p>
I am committed to <a href="https://thepsychologist.bps.org.uk/volume-33/november-2020/bropenscience-broken-science">equity, diversity, and inclusion in (open) science</a>, e.g., <a href="https://neuroplausible.com/programming">promoting access to technical skills training</a> — including the broader <a href="https://arxiv.org/abs/2009.14258">decolonisation of cognitive and computational sciences</a>.
Relatedly, <a href="https://www.mpi.nl/people/bergmann-christina">Christina Bergmann</a> and I maintain a <a href="http://compcog.science/">list of underrepresented cognitive computational scientists</a>.
</p>
