{% assign pubs = site.data.publications | sort:"date" | reverse %}

{% assign crit = pubs | where_exp:"item", "item.tags contains 'crit'" %}
{% comment %}
    {% include print_research.html pubs=crit %}
{% endcomment %}

{% assign met = pubs | where_exp:"item", "item.tags contains 'met'" %}


<h2 id="mentoring"><a href="#mentoring">mentoring</a></h2>
<p>If you are interested in working with me, feel free to <a href="mailto:olivia.guest@ru.nl">contact me</a>. Prior to that, it might be worth taking a look at the following themes of research that currently interest me:
    <ul>
        <li><i>Critical perspectives on AI</i>, its history, its current state, including projects about artificial neural networks, sans hype (e.g. Guest & Martin, 2023, 2024).</li>
        <li><i><a href="//metatheory.space">(Meta)theory</a></i> in neuro-, cognitive, computational, and psychological sciences (e.g. Guest, 2024).</li>
        <li><i>Human categorisation</i> and models thereof from a perspective of what is lacking in our framing of this human capacity (e.g. <a href="https://www.ru.nl/en/people/scharfenberg-n">Natalia Scharfenberg</a>'s PhD project).</li>
        <li><i>Taking computationalism seriously</i> in divergence from  naive perspectives and/or as a reductio (e.g. Guest & Martin, 2025; Guest et al., 2025, van Rooij et al., 2024).
    </ul>
</p>