{% assign pubs = site.data.publications | sort:"date" | reverse %}

{% assign crit = pubs | where_exp:"item", "item.tags contains 'crit'" %}
{% comment %}
    {% include print_research.html pubs=crit %}
{% endcomment %}

{% assign met = pubs | where_exp:"item", "item.tags contains 'met'" %}

<div class="row">
    <div class="col">
      <h2 id="mentoring"><a href="#mentoring">Mentoring</a></h2>

<p>If you are interested in working with me, feel free to <a href="mailto:olivia.guest@ru.nl">contact me</a>. Prior to that, it might be worth taking a look at the following themes of research that currently interest me:
    <ul>
      <li>Critical perspectives on AI, its history, and its current state, including projects about artificial neural networks, sans hype.</li>
      <li>(Meta)theory development in neuro-, cognitive, computational, and psychological sciences.
      </li>
      <li>Human categorisation, and computational models thereof, from a perspective of what is lacking in our narrow framing of this human capacity.</li>
  </ul>
  </p>
  </div>
  </div>