<!-- <div id="navbar">
<ul class="socials">
   <li class="social">
    <a href="{{site.url}}">
      <i class="fa-solid fa-home"></i></a>
    </li>
    <li class="social">
    <a href="#here">
      <i class="fa-solid fa-moon" id="dark" onclick="myFunction(this.id)"></i>
    </a>
    </li>
</ul>
</div>
 -->



{% if page.css == 'ai' %}
 <nav id="navbar">
  <div class="container"> 
    <a href="{{site.url}}#top">Home</a>
    <!-- <a href="#cail">CAIL</a> -->
    <a href="#allies">Allies</a>
    <a href="#activism">Posters</a>
    <a href="#here" class="right" onclick="myFunction(this.firstChild.nextSibling.id)">
      <i class="fa-solid fa-moon" id="dark" ></i>
    </a>
  </div>
</nav>
{% elsif page.css == 'turing' or page.css == 'manifesto' or page.css == 'before' %}
 <nav id="navbar">
  <div class="container"> 
    <a href="{{site.url}}#top">Home</a>
    <a href="{{site.url}}/ai">CAIL</a>
    <a href="#here" class="right" onclick="myFunction(this.firstChild.nextSibling.id)">
      <i class="fa-solid fa-moon" id="dark"></i>
    </a>
  </div>
  </nav>
{% elsif page.layout == 'default' or page.layout == 'page' %}
 <nav id="navbar">
  <div class="container"> 
    <a href="{{site.url}}#top">Home</a>
    <!-- <a href="{{site.url}}#news">News</a> -->
    <a href="{{site.url}}#publications">Publications</a>
    <a href="{{site.url}}/ai">CAIL</a>

  </div>
</nav>
{% endif %}
