<nav id="navbar">
  <div class="container">
  <div class="">
    <a href="{{site.url}}#top"><i class="fa-solid fa-house-chimney"></i></a>
    <a href="{{site.url}}/posts"><i class="fa-regular fa-newspaper"></i></a>
{% if page.css == 'ai' %}
    <a href="#allies">Allies</a>
    <a href="#activism" id="posters" class="hide-xs">Posters</a>
{% elsif page.layout == 'default' or page.layout == 'page' %}
    <!-- <a href="{{site.url}}#news">News</a> -->
    <a href="{{site.url}}#publications" id="nav-pubs" class="hide-xs">Publications</a>
    <a href="{{site.url}}/ai">CAIL</a>
{% endif %}
    </div>
    <div id="nav-icons">
      <a href="#here" onclick="toggleDarkMode(this.firstChild.nextSibling.id)">
        <i class="fa-solid fa-moon" id="dark"></i>
      </a>
      <a href="#here" onclick="toggleMonochrome()">
        <i class="fa-solid fa-rainbow"></i>
      </a>
    </div>
  </div>
</nav>