<h2 id="news"><a href="#news">news</a></h2>
<ul>
    <li class="newsitem">
    <span class="bullet"> <i class="fa-solid fa-robot"></i>
    </span><b>15th & 18th February 2026:</b> I compiled some extracts from my work on the <a href="/turing"><i>Turing test</i></a>, and also posted a short piece on how: <a href="/before"><i>We have been here before!</i></a>
    </li>

    <li class="newsitem">
    <span class="bullet"> <i class="fa-solid fa-building-columns"></i>
    </span><b>15th January 2026:</b> Our summer school course <a href="https://www.ru.nl/en/education/education-for-professionals/overview/critical-ai-literacies-for-resisting-and-reclaiming"><i>Critical AI Literacies for Resisting and Reclaiming</i></a> is <a href="https://www.ru.nl/en/education/more-education-and-training/summer-courses/application">open for applications</a>.
    </li>

    <li class="newsitem">
    <span class="bullet"> <i class="fa-solid fa-book"></i></span><b>9th July 2025:</b> The <a href="https://doi.org/10.5281/zenodo.15849638"><i>AI as a Science: Course Manual</i></a> (taught from 2020/21 to 2024/25) is publicly accessible.
    </li>

    <li class="newsitem">
    <span class="bullet"><i class="fa-regular fa-envelope"></i></span><b>27th June 2025:</b> Colleagues and I have written and published: <a href="https://openletter.earth/open-letter-stop-the-uncritical-adoption-of-ai-technologies-in-academia-b65bba1e"><i>Open Letter: Stop the Uncritical Adoption of AI Technologies in Academia</i></a>.
    </li>
</ul>
