{% assign publications = site.data.publications | sort:"date" | reverse %}

<div id="pub-cols" class="text-col">
  <ul>
    {% for publication in publications %}
        
        {% if publication.selected == 3 %}
            {% continue %}
        {% endif %}

    <li class="item {% if publication.selected == 0 %}deselected{% endif %}">

      
      {{ publication.authors }}
      ({% if publication.status == 'inpress' %}{{ publication.status }}{% else %}{{publication.date | date: "%Y"}}{% endif %}).
      <!-- <div class="title"> -->
        {% if publication.doi %}
        <a href="//doi.org/{{ publication.doi }}">{{ publication.title }}</a>{% elsif publication.url %}
        <a href="{{ publication.url }}">{{ publication.title }}</a>{% elsif publication.arxiv %}
        <a href="{{ publication.arxiv }}">{{ publication.title }}</a>{% elsif publication.pdf %}
        <a href="{{ publication.pdf }}">{{ publication.title }}</a>{% else %} {{ publication.title }}
        {% endif %}.
      <!-- </div>. -->
        {% if publication.journal %}<i>{{ publication.journal }}</i>.
        {% elsif publication.server %}<i>{{ publication.server }}</i>. {% endif %}
  

        {% if publication.doi %}<a href="//doi.org/{{ publication.doi }}">https://doi.org/{{ publication.doi }}</a>
        {% elsif publication.zenodo %}<a href="{{ publication.zenodo }}">{{ publication.zenodo }}</a>
        {% elsif publication.url %}<a href="{{ publication.url }}">{{ publication.url }}</a>{% endif %}


        <span class="small-icons">
          {%if publication.pdf %}
            <a href="{{ publication.pdf }}" title="PDF"><i class="far fa-file-pdf"></i></a>
          {% endif %}
          {%if publication.video %}
            <a href="{{ publication.video }}" title="PDF"><i class="far fa-file-video"></i></a>
          {% endif %}
          
        </span> 
    </li>
    {% endfor %}
  </ul>
</div>

