
<ul class="socials">
    <li class="social">
        <a href="https://scholar.social/@olivia" title="Follow me on Mastodon" style="text-decoration:none" rel="me">
          <i class="fab fa-mastodon"></i>
        </a>
      </li>
    
      <li class="social">
        <a href="//twitter.com/o_guest" title="Follow me on Twitter" style="text-decoration:none" rel="me">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    
    
      <li class="social">
        <a href="//www.youtube.com/channel/UCr1oZGQ5f6tP5wEKUF7SLNw" title="Watch me on YouTube" style="text-decoration:none" rel="me">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
    
    
        <li class="social">
          <a href="//github.com/oliviaguest" title="Fork me on GitHub" style="text-decoration:none" rel="me">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
        </li>
    
    
    
        <li class="social">
          <a href="//scholar.google.co.uk/citations?user=ZHGrUooAAAAJ" title="View my Google Scholar profile" style="text-decoration:none" rel="me">
            <i class="ai ai-google-scholar" aria-hidden="true"></i>
          </a>
        </li>
    
        <li class="social">
          <a href="//orcid.org/0000-0002-1891-0972" title="View my ORCID profile" style="text-decoration:none" rel="me">
            <i class="ai ai-orcid" aria-hidden="true"></i>
          </a>
        </li>
  </ul>