---
layout: post
title: Cryptogyny
permalink: /cryptogyny/
published: true
image: /images/cryptogyny_banner.png
css: cryptogyny
featured: /turing/
date: 2026-03-15
description: On the systematic obfuscation of women's contributions.
cail_excerpt: on the systematic obfuscation of women's contributions to scholarly work; and what to do about it.
excerpt: > 
    Obfuscating women’s interests in and contributions to technology echoes through the ages[.] Culinary recipes are archetypal algorithms, but cooking is not seen as related to programming[.]   Ultimately, these are typical trends within capitalist patriarchy, where women’s – and all minoritised people’s contributions – are systematically hidden from the historical retelling of humanity’s achievements.
---

<article class="page">
<div class="row header-row">
    <div class="col-12 header" id="header">
    <div id="header-content">
        <h1><a href="{{site.url}}/cryptogyny">
            crypt<br class="break">ogyny</a>
    </div>
    </div>
        <div class="col-12 text-right shadow-text">

  {% if page.date %}<author><a href="{{site.url}}">Olivia Guest</a>, </author><date>{{ page.date | date: "%e %B %Y" }}</date>{% endif %}
    </div>
</div>


<div class="row" class="shadow-text">
          <div class="col-12 col-6-md col-6-lg ">



        <p>Cryptogyny is the systematic obfuscation of women's contributions to, or of their very existence in, a field of study. As <a href="https://www.durham.ac.uk/staff/samuel-forbes/">Sam Forbes</a> and I say <a href="http://doi.org/10.5117/TVGN2024.2-3.007.GUES">here</a> in the context of teaching programming:</p>

        <blockquote><p>Obfuscating women’s interests in and contributions to technology echoes through the ages (Erscoi et al., 2023); see Figure 1. Culinary recipes are archetypal algorithms, but cooking is not seen as related to programming (cf. Shore, 1985). Jaccard looms, machines that weave cloth, are the original use case for punchcards – physical pieces of paper that were used to program computers (Harlizius-Klück, 2017). Ada Lovelace invented the first computer program (Aiello, 2016). Women mathematicians and programmers worked with the first digital computer, the ENIAC (Kleiman, 2022). Grace Hopper invented the compiler (Beyer, 2012). Core rope memory was created through knitting copper wires by women for NASA’s Apollo missions (Rosner, Shorey, Craft, Remick, 2018). Margaret Hamilton was Director of the Software Engineering Division that, inter alia, took humans to the Moon (Hamilton & Hackler, 2008). </p>

        <p>[...] Ultimately, these are typical trends within capitalist patriarchy, where women’s – and all minoritised people’s contributions – are systematically hidden from the historical retelling of humanity’s achievements (also known as cryptogyny, the Matilda effect: Connell & Janssen-Lauret, 2022; Evans, 2020; Gage, 1883; Hicks, 2017; Kleiman, 2022; Lee Shetterly, 2016; Pozo & Padilla, 2019; Pozo-Sánchez & Padilla-Carmona, 2021; Rossiter, 1993; Van den Brink & Benschop, 2012). Part of a good teacher’s repertoire is this fact, which both drives a more expansive appreciation of their own field and results in a broader and more interesting syllabus.</p></blockquote>
        
        <p>For more on the above, see:</p>
        {% assign article = site.data.publications | where:"title","Teaching coding inclusively: if this, then what?" %}
        {% include publications.html publications=article %}

        <p>I think I discovered this "new word for an old phenomenon" (as those who coined it say, <a href="https://www.eldiario.es/comunitat-valenciana/criptoginia-paraula-nova-fenomen-antic_132_1003396.html">Pozo & Padilla, 2020</a>) when I came across the page on <a href="https://en.wikipedia.org/wiki/Cryptogyny">Wikipedia</a> in the last 4 or so years. But I have lost track of when I realised the <i>phenomenon</i> itself.
        And the depth of it is incredibly overwhelming — and perhaps the lack of interest in stopping it or rectifying it just as deep, and as overwhelming.</p>
        
        <p>Importantly, this phenomenon survives to this day. One need only search for terms like "gender citation gap" or similar to find much work showing in many fields of study, such as Kristina Lerman and colleagues from 2022: <a href="https://doi.org/10.1073/pnas.2206070119"><i>Gendered citation patterns among the scientific elite</i></a>.</p>


    </div>
    <!-- <div class="col-12"> -->
                    <!-- <h2><a href="#intro">introd<br class="break">uction</a></h2> -->
                <!-- </div> -->
    <div class="col-12 col-6-md col-6-lg vertical-center">
        <img src="/images/image-from-rawpixel-id-10007652-edited.png" alt="decorative" class="hide-dark" id="typewriter">
   </div>

</div>

<div class="row" id="penicillin">
  
    <div class="col-6 text-center">
                    <h2><a href="#penicillin">penicillin</a></h2>
                </div>
    <div class="col-6 text-center">
</div>
        <div class="col-12 col-6-md col-6-lg">

        <p>Other than those touched on in the extract above, I think this is a particularly compelling example written by <a href="https://www.jstor.org/stable/jj.5501032.6">Autumn Stanley in 1998</a> (p. 25):</p>

        <blockquote><p>
            although three men received the Nobel Prize for penicillin,
            women participated significantly in the team effort that brought the drug to
            medical usefulness. Women had discovered the mold’s usefulness centuries
            or perhaps millennia earlier (Halsbury 1971, p. 19; Raper 1952, p. 1), and
            one nineteenth-century Wisconsin woman, Elizabeth Stone, an early antibiotic therapist, specialized in treating lumberjacks’ wounds with poultices of
            moldy bread in warm milk or water: she never lost an injury patient (Stellman
            1977, p. 87). In the twentieth-century development of the drug, it was a
            woman bacteriologist, Dr. Elizabeth McCoy of the University of Wisconsin,
            who created the ultraviolet-mutant strain of Penicillium used for all further
            production, since it yielded nine hundred times as much penicillin as Fleming’s
            strain (Bickel 1972, p. 185; O’Neill 1979, p. 219).4 And as Howard Florey,
            leader of the British penicillin team, was quick to point out, it was Dr. Ethel
            Florey’s precise clinical trials that transformed penicillin from a crude some
            time miracle worker into a reliable drug. It was also a woman, Nobel laureate
            and X-ray crystallographer Dr. Dorothy Crowfoot Hodgkin, who finally determined the precise structure of the elusive penicillin molecule (Bickel 1972,
            p. 216; Opfell 1978, pp. 211, 219).</p>
            <p>
            Women were also involved in developing the sulfa drugs that preceded
            penicillin. For instance, it was a married pair of chemists, Prof. and Mme.
            Tréfouėl, and their colleagues at the Pasteur Institute in Paris who split red
            azo dye to create sulfanilamide (Bickel 1972, p. 50).
            At least two women have invented new antibiotics for which they receive
            sole credit. Dr. Odette Shotwell of Denver, Colorado, came up with two new
            antibiotics—duramycin and azacolutin—during her first assignment as a research chemist at the Agriculture Department laboratories in Peoria, Illinois.
            She has also invented new methods for separating antibiotics from fermentation by-products, and in doing so has played an important role in the development of two other antibiotics: cinnamycin and hydroxystreptomycin. Dr.
            Marina Glinkina of the USSR directed the laboratory effort that produced a
            new antigangrene antibiotic during World War II. Her postwar work as a senior scientist has been theoretical (Dodge 1966, p. 226; O’Neill 1979, p. 32;
            Ribando 1980).</p>

        </blockquote>

        <p>This is an extract from the book chapter:</p>
        <ul>
        <li class="item ">        Stanley, A. 
        (1998).
        <a class="title" href="https://www.jstor.org/stable/jj.5501032.6">WOMEN HOLD UP TWO-THIRDS OF THE SKY: Notes for a Revised History of Technology</a>.
        <i>Sex/Machine: Readings in Culture, Gender, and Technology</i>.
        <a class="url-font" href="https://www.jstor.org/stable/jj.5501032.6">https://www.jstor.org/stable/jj.5501032.6</a>
        </li>

        </ul>


    </div>

        <div class="col-12 col-6-md col-6-lg vertical-center">
        <img src="/images/image-from-rawpixel-id-10544078-edited.png" alt="decorative" id="woman">
   </div>
</div>



<div class="row" id="1800">
  

    <div class="col-6 text-center">
                    <h2><a href="#1800">before 1800</a></h2>
                </div>

    <div class="col-6 text-center">
</div>
        <div class="col-12 col-6-md col-6-lg">

        <p>Another really compelling and fun case is that in this wonderful paper from 2023 by  David de la Croix and Mara Vitale: <a href="https://doi.org/10.1093/ereh/heac023"><i>Women in European academia before 1800—religion, marriage, and human capital</i></a>. They end their abstract on: "Comparing [the 108 women] with 58,995 male scholars, we find that they were on average better"! They elaborate:</p>
        
        <blockquote>we establish a catalogue of [108] women in academia during the medieval and early modern periods[,] scholars and literati who were either teaching at universities or involved in scientific academies in Europe over the period 1000–1800.            </blockquote>
        <p>They go on to explain — another interesting tidbit:</p>
        <blockquote>we expected to conclude that women were more welcome in the most modern part of Europe, such as the universities of Leiden, Glasgow, Copenhagen, or Göttingen, and in scientific academies such as the Royal Society, the Swedish Academy of Sciences, or the Leopoldina. We were surprised to find very few female academic scholars in Northern Europe, whereas they were more numerous in the South. Women taught at the universities of Bologna, Padua, and Salamanca and were members of academies in Arles, Nancy, Lyon, Beziers, Padua, Rome, and Madrid.</blockquote>
        
        <p><a href="https://doi.org/10.1093/ereh/heac023">De la Croix and Vitale (2023)</a> expected the opposite of what they found, as they say, because prevailing understanding is that "a clear divide between a modern Europe [in the North] and a conservative one [in the South]". In fact, as  they tell us, no women in Northern Europe "were allowed to teach at a university, even in an informal way, or to be admitted to full membership in an academy of science and letters."</p>

        <p>For the full list of women, please check out their paper, which also has maps of where the women they found worked:</p>
                <ul>
        <li class="item ">De la Croix, D., & Vitale, M. (2023).
        <a class="title" href="https://doi.org/10.1093/ereh/heac023">Women in European academia before 1800—religion, marriage, and human capital</a>.
        <i>European Review of Economic History</i>.
        <a class="url-font" href="https://doi.org/10.1093/ereh/heac023">https://doi.org/10.1093/ereh/heac023</a>
        </li>
        </ul>


    </div>

    <div class="col-12 col-6-md col-6-lg vertical-center">
        <img src="/images/image-from-rawpixel-id-9976737-edited.png" alt="decorative" id="woman">
   </div>
</div>




<div class="row" id="what">
         <div class="col-12 col-2-md col-2-lg"></div>

        <div class="col-12 col-8-md col-8-lg">
                    <h2 class="text-center"><a href="#what">what can we do?</a></h2>

        <p>I completely understand that some of this can be distressing — especially since it is happening right now too. One thing we can all do to rectify is, is to understand the process of the <i>obscuring</i> of women's contributions, cryptogyny, often goes hand-in-hand with the <i>theft</i> of women's contributions through attributing them to men, part of what is known as great man theorising. And cryptogyny of all kinds can be addressed, at least in great part, by a few simple steps. <a href="https://irisvanrooijcogsci.com/2026/02/15/%F0%9F%93%9A-reading-women-in-cognitive-science-%F0%9F%93%9A/">Find and read more women's work</a>. Cite more women's work — and notice the people who you cite! And sadly, yes, always be suspicious when you notice great person, especially man, theorising.
        What do I mean? <a href="www.jstor.org/stable/3173988">Londa Schiebinger (1987, p. 314)</a> does a great job explaining it:</p>

        <blockquote>Most of the work on women scientists fits the “history of great men” mold, with women simply substituted for men. Thus, we have many biographies of great women scientists. These biographical studies of women scientists, for the most part, place the achievements of Marie Curie or Rosalind Franklin within the male world, demonstrating that women have, in fact, made important contributions to what has been defined as mainstream science. Yet the focus remains on the woman as exceptional—the woman who defied convention to claim a prominent position in an essentially male world. One of the problems with this approach to history is that it retains the male norm as the measure of excellence.</blockquote>

        <p>If you are in my fields, neuro-, cognitive, psychological, computational sciences, I also elaborate on this at length, especially in <a href="http://doi.org/10.1007/s42113-023-00193-2">Guest (2024)</a> in the context of <a href="\theory">theory</a> and beyond: </p>

        <blockquote>great man theorising is ‘an important obstacle to building theory’ (van Rooij , 2021; also see van Rooij , 2022).  Great man theorists fabricate and/or obscure anecdotal and historical evidence to ensure the credit is directed at the target prestigious figure. For example, Pythagoras is overwhelmingly named and credited, but he had many women disciples, who were philosophers and mathematicians in their own right, whose writings survive to this day, and after his death, Theano (a woman, possibly his wife) took over as head of his academy (Schiebinger, 1987; Wider, 1986). To give another example, Lavoisier, the chemist credited with discovering oxygen, was also a woman: Marie Anne Paulze Lavoisier. She could have been credited jointly with her husband, but was not (Eagle & Sloan, 1998).</blockquote>

        <p>For more see:</p>

                {% assign article = site.data.publications | where:"title","What Makes a Good Theory, and How Do We Make a Theory Good?" %}
        {% include publications.html publications=article %}

                {% assign article = site.data.publications | where:"title","Towards Decolonising Computational Sciences" %}
        {% include publications.html publications=article %}

        <p>Also if you are curious about the banner at the top, it is a zoomed version of this photo: <a href="https://lccn.loc.gov/2017837923"><i>Composing room of the New York Times newspaper. Linotype operators</i></a>.</p>

</div>

</article>