---
layout: post
title: Cryptogyny
permalink: /test/
published: false
image: /images/cryptogyny_banner.png
css: space
featured: /ai/
date: 2026-03-15
description: On the systematic obfuscation of women's contributions.
cail_excerpt: on the systematic obfuscation of women's contributions to scholarly work; and what to do about it.
excerpt: > 
    Obfuscating women’s interests in and contributions to technology echoes through the ages[.] Culinary recipes are archetypal algorithms, but cooking is not seen as related to programming[.]   Ultimately, these are typical trends within capitalist patriarchy, where women’s – and all minoritised people’s contributions – are systematically hidden from the historical retelling of humanity’s achievements.
---


<article class="page">
<div class="row header-row">
    <div class="col-12 header" id="header">
    <div id="header-content">
        <h1><a href="{{site.url}}/cryptogyny">
            <span id="thinking">thinking</span> <br> things <br> through</a>
    </div>
    </div>
        <div class="col-12 text-right shadow-text">

  {% if page.date %}<author><a href="{{site.url}}">Olivia Guest</a>, </author><date>{{ page.date | date: "%e %B %Y" }}</date>{% endif %}
    </div>
</div>


<div class="row" >
          <div class="col-12 col-5-md col-5-lg "></div>
          <div class="col-12 col-7-md col-7-lg ">

        <p>Cryptogyny is the systematic obfuscation of women's contributions to, or of their very existence in, a field of study. As <a href="https://www.durham.ac.uk/staff/samuel-forbes/">Sam Forbes</a> and I say <a href="http://doi.org/10.5117/TVGN2024.2-3.007.GUES">here</a> in the context of teaching programming:</p>

        <blockquote><p>Obfuscating women’s interests in and contributions to technology echoes through the ages (Erscoi et al., 2023); see Figure 1. Culinary recipes are archetypal algorithms, but cooking is not seen as related to programming (cf. Shore, 1985). Jaccard looms, machines that weave cloth, are the original use case for punchcards – physical pieces of paper that were used to program computers (Harlizius-Klück, 2017). Ada Lovelace invented the first computer program (Aiello, 2016). Women mathematicians and programmers worked with the first digital computer, the ENIAC (Kleiman, 2022). Grace Hopper invented the compiler (Beyer, 2012). Core rope memory was created through knitting copper wires by women for NASA’s Apollo missions (Rosner, Shorey, Craft, Remick, 2018). Margaret Hamilton was Director of the Software Engineering Division that, inter alia, took humans to the Moon (Hamilton & Hackler, 2008). </p>

        <p>[...] Ultimately, these are typical trends within capitalist patriarchy, where women’s – and all minoritised people’s contributions – are systematically hidden from the historical retelling of humanity’s achievements (also known as cryptogyny, the Matilda effect: Connell & Janssen-Lauret, 2022; Evans, 2020; Gage, 1883; Hicks, 2017; Kleiman, 2022; Lee Shetterly, 2016; Pozo & Padilla, 2019; Pozo-Sánchez & Padilla-Carmona, 2021; Rossiter, 1993; Van den Brink & Benschop, 2012). Part of a good teacher’s repertoire is this fact, which both drives a more expansive appreciation of their own field and results in a broader and more interesting syllabus.</p></blockquote>
        
        <p>For more on the above, see:</p>
        {% assign article = site.data.publications | where:"title","Teaching coding inclusively: if this, then what?" %}
        {% include publications.html publications=article %}

        <p>I think I discovered this "new word for an old phenomenon" (as those who coined it say; <a href="https://www.eldiario.es/comunitat-valenciana/criptoginia-paraula-nova-fenomen-antic_132_1003396.html">Pozo & Padilla, 2020</a>) when I came across the page on <a href="https://en.wikipedia.org/wiki/Cryptogyny">Wikipedia</a> in the last 4 or so years. But I have lost track of when I realised the <i>phenomenon</i> itself.
        And the depth of it is incredibly overwhelming — and perhaps the lack of interest in stopping it or rectifying it just as deep, and as overwhelming.</p>
        
        <p>Importantly, this phenomenon survives to this day. One need only search for terms like "gender citation gap" or similar to find much work showing in many fields of study, such as Kristina Lerman and colleagues from 2022: <a href="https://doi.org/10.1073/pnas.2206070119"><i>Gendered citation patterns among the scientific elite</i></a>.</p>


    </div>


</div>




</article>