




/*
     FILE ARCHIVED ON 4:45:19 Dec 23, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:08:42 May 16, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/* - maps.css - */
@media screen {
/* http://babylab.psy.ox.ac.uk/portal_css/maps.css?original=1 */
.mapsMarker {
margin: 0;
padding: 0;
}
.googleMapView.googleMapActive,
.googleMapPane {
height: 40em;
}
.googleMapActive.googleMapLocation {
float: right;
width: 50%;
min-width: 20em;
height: 25em;
}
.googleMapLocation .googleMapPane {
height: 25em;
}
}


/* - ploneCustom.css - */
@media all {
/* http://babylab.psy.ox.ac.uk/portal_css/ploneCustom.css?original=1 */
#portal-header {
background:#FFFFFF url(/web/20141223044519/http://babylab.psy.ox.ac.uk/portal_css/ploneblueprint/banner.png) no-repeat;
}
#splash, #links{
background:url(/web/20141223044519/http://babylab.psy.ox.ac.uk/portal_css/ploneblueprint/dots.png) repeat-x;
padding:17px 0 0px 0;
}
.template-portlet_listing #portal-columns{
margin-top:0px;
}
#how a{
color:white;
border:0;
font-size:1.3em;
background:url(/web/20141223044519/http://babylab.psy.ox.ac.uk/portal_css/ploneblueprint/arrow_on_lightblue.png) no-repeat 7px 50%;
background-color:#8a9ca8;
padding:4px 15px 5px 32px;
}
#firstsentence{
font-size:1.7em;
margin-bottom:0.5em;
}
.portlet-static-intro p{
font-size:1.2em;
line-height:1.5em;
margin-bottom:1.3em;
}
.portlet-static-explore h2 a{
background-color:#2d86a0;
}
.portlet-static-the-team h2 a{
background-color:#7eae4b;
}
.portlet-static-research h2 a{
background-color:#c4725d;
}
.portlet-static-explore h2 a,
.portlet-static-the-team h2 a,
.portlet-static-research h2 a
{
display:block;
color:#fff;
border:0;
padding:4px 0 5px 32px;
margin-bottom:3px;
}
.portlet-static-explore h2 a{
background:url(/web/20141223044519/http://babylab.psy.ox.ac.uk/portal_css/ploneblueprint/arrow_on_blue.png) no-repeat 7px 50%;
}
.portlet-static-the-team h2 a{
background:url(/web/20141223044519/http://babylab.psy.ox.ac.uk/portal_css/ploneblueprint/arrow_on_green.png) no-repeat 7px 50%;
}
.portlet-static-research h2 a{
background:url(/web/20141223044519/http://babylab.psy.ox.ac.uk/portal_css/ploneblueprint/arrow_on_red.png) no-repeat 7px 50%;
}
.portlet-static-explore h2 a{
background-color:#2d86a0;
}
.portlet-static-the-team h2 a{
background-color:#7eae4b;
}
.portlet-static-research h2 a{
background-color:#c4725d;
}
.portlet-static-explore a,
.portlet-static-the-team a,
.portlet-static-research a
{
border:0;
}
.portlet-static-explore a:hover,
.portlet-static-the-team a:hover,
.portlet-static-research a:hover,
#how a:hover{
border:0;
color:white;
}
#searchbox #searchGadget {
padding: 0 0 0 10px;
background:none;
}
#searchbox input.searchButton {
background:none;
}
.section-research .navTreeItem a{
border-bottom:2px solid #fff;
background-color:#C4725D;
color:#fff;
padding:5px;
}
ul#globalnav {
background-color:none;
background:url(/web/20141223044519/http://babylab.psy.ox.ac.uk/portal_css/ploneblueprint/dots.png) no-repeat 0 100%;
clear:left;
float:left;
line-height:normal;
list-style-image:none;
list-style-type:none;
margin:0 0 0;
overflow:hidden;
padding:0;
width:100%;
padding:0 0 15px 0;
}
ul#globalnav li a{
font-size:1.3em;
padding:10px;
}
#globalnav li a:hover {
color:#06182B;
background-color:transparent;
}
#globalnav li.selected a {
background-color:transparent !important;
}
#funding {
margin-bottom:10px;
margin-left:0px;
}
#funding {
margin-top:30px;
}
#funding a {
border:0;
display:block;
float:left;
padding-right:14px;
}
#footer {
background-color:#002147;
}

}

