---
layout: default
title: posts, short articles, & resources
permalink: /posts/
published: true
css: posts
image: /images/posts_banner.png
description: My blog-like self-hosted short articles, pages, etc. 

---

<div class="row">
    <div class="col-12 col-6-md col-6-lg">
        {% include header.html %}
            {% include social.html top=true%}

    </div>

    <div class="col-12 col-6-md col-6-lg">
        <h2><a href="#top">posts, short articles, & resources</a></h2>

        <p>Below is a list of all my blog-like self-hosted short articles, pages, etc. Most are based on my <a href="/#publications">published or preprinted work</a>.</p>


        <div class="frame-figure is-center  p13">
        <img src="{{ site.baseurl }}/images/p13b_posts.png"
        alt="decorative Turing machine drawing" class="hide-xs hide-sm"> 
            <p class="hide-xs hide-sm caption is-center">
            Tekhnika Molodezhi (<a href="https://turingarchive.kings.cam.ac.uk/material-given-kings-college-cambridge-1960-amtk/amt-k-5">1955, p.9</a>)</p>
        </div>


</div>
</div>



 {% for article in site.posts %} 

<div class="row article-preview">
            <div class="col-12">

    </div>
</div>

<div class="row {% cycle 'odd', 'even' %}">
            <div class="col-12 col-5-md col-5-lg">
        <h2> <a href="{{article.permalink}}"> {{article.title}}</a></h2><div class="date text-right">{{ article.date | date: "%e %B %Y" }}</div>

            <p class="excerpt">{{article.excerpt | strip_html | escape }} <a href="{{ article.permalink}}">Read More.</a></p>
        </div>

        <div class="col-12 col-1-md col-1-lg"></div>
        <div class="col-12 col-6-md col-6-lg">
        <div class="banner">
            <a href="{{article.permalink}}"><img src="{{ article.image }}" class="preview" alt="decorative banner that represents the content"></a>
            <p class="desc">{{article.description}}</p>
        </div>
        </div>
</div>
 {% endfor %}



 <div class="row">
    <div class="col-6 col-6-md col-6-lg vertical-center">
    </div>
    <div class="col-6 col-6-md col-6-lg is-right">
        <img src="/images/snail.png" alt="decorative snail" class="hide-xs hide-sm snail is-right">
    </div>
</div>
