---
layout: default
title: posts
permalink: /posts/
published: true
css: posts
image: /images/posts_banner.png
description: My blog-like self-hosted short articles, pages, etc. 

---

<div class="row">
    <div class="col-12 col-6-md col-6-lg">
        {% include header.html %}
            {% include social.html top=true%}

    </div>

    <div class="col-12 col-6-md col-6-lg">
        <h2><a href="#top">posts, short articles, & resources</a></h2>

        <p>Below is a list of all my blog-like self-hosted short articles, pages, etc. Most are based on my <a href="/#publications">published or preprinted work</a>.</p>


        <div class="frame-figure is-center">
        <img src="{{ site.baseurl }}/images/p13b_posts.png"  alt="icon" class="hide-xs hide-sm p13 is-right">    </div>



        <p class="hide-xs hide-sm caption is-center"><a href="https://turingarchive.kings.cam.ac.uk/material-given-kings-college-cambridge-1960-amtk/amt-k-5">Tekhnika Molodezhi (1955, p.9)</a></p>


</div>
</div>



 {% for article in site.posts %} 

<div class="row article-preview">

    <div class="col-12  col-2-md col-2-lg">   </div>  
    <div class="col-12  col-8-md col-8-lg">     
        <h2> <a href="{{article.permalink}}"> {{article.title}}</a></h2><div class="date text-right">{{ article.date | date: "%e %B %Y" }}</div>
    </div>
    </div>
<div class="row">

            <div class="col-12 col-2-md col-2-lg"></div>
            <div class="col-12 col-8-md col-8-lg">

        <div class="banner">

            <a href="{{article.permalink}}"><img src="{{ article.image }}" class="preview"></a>
                    <p class="desc">{{article.description}}</p>

        </div>

        <p class="excerpt">{{article.excerpt | strip_html | escape }} <a href="{{ article.permalink}}">Read More.</a></p>
    </div>
</div>
 {% endfor %}


 <div class="row">
    <div class="col-6 col-6-md col-6-lg vertical-center">
    </div>
    <div class="col-6 col-6-md col-6-lg is-right">
        <img src="/images/snail.png" alt="icon" class="hide-xs hide-sm snail is-right">
    </div>
</div>
