---
layout: default
title: We've been here before!
permalink: /tobacco/
published: false
image: /images/turing_banner.png
css: tobacco
description: "Parallels between AI and tobacco and other warnings."

date: 2026-02-15

---

<article class="page">

<div class="row">
    <div class="col-12 header" id="header">
    <div id="header-content">
    <h1 data-text="We've been here before!"><a href="{{site.url}}/turing" >We've been here before!</a></h1>
    </div>
    </div>
</div>

<div class="row" id="what">


<div class="col-12 col-8-md col-8-lg ">
            <div >
            <img src="/images/smoke.png" id="" class="figure left">
        </div>

</div>   

<div class="col-12 col-4-md col-4-lg vertical-center text-right">
<h2><a href="#what">What do you mean?</a></h2></div>

</div>   
<div class="row">

    <div class="col-12 col-6-md col-6-lg">

    <p>We have certainly been here before. Many many times in the past, companies — just like AI companies now — have lied to us to sell us products. Not only is there no reason to assume the AI industry is different, there is in fact much to make us think they are <i>knowingly</i> misleading us. To understand this, take a look at this great work called <a href="https://www.eea.europa.eu/en/analysis/publications/late-lessons-2"><i>Late lessons from early warnings: science, precaution, innovation</i></a> by the European Environment Agency (EEA): </p>

    <blockquote>The 2013 Late lessons from early warnings report is the second of its type produced by the European Environment Agency (EEA) in collaboration with a broad range of external authors and peer reviewers. The case studies across both volumes of Late lessons from early warnings cover a diverse range of chemical and technological innovations, and highlight a number of systemic problems. The 'Late Lessons Project' illustrates how damaging and costly the misuse or neglect of the precautionary principle can be, using case studies and a synthesis of the lessons to be learned and applied to maximising innovations whilst minimising harms.</blockquote>   
<!-- </div> -->
    <!-- <div class="col-12 col-6-md col-6-lg"> -->


          <p>
Also there are well-known patterns of our thinking that are affected by interacting with certain machines. As <a href="https://www.taylorfrancis.com/chapters/edit/10.4324/9780429505331-2/culture-artificial-intelligence-brian-bloomfield">Brian P. Bloomfield (1987, p. 72)</a> explains four decades ago:</p>


  <blockquote>While opacity is a distinguishing feature of many other areas of science and technology, the myths surrounding computing may stem less from the fact that it is an opaque esoteric subject and more from the way in which it can be seen to blur the boundary between people and machines (Turkle 1984). To be sure, most people do not understand the workings of a television set or how to program their video cassette recorders properly, but then they do not usually believe that these machines can have intelligence. The public myths about computing and AI are also no doubt due to the ways in which computers are often depicted in the mass media — e.g. as an abstract source of wisdom, or as a mechanical brain.</blockquote>
<p>
For detailed analysis and more examples see:    </p>

        <div class="is-center">
        <div class="cite is-center">
        {% assign article = site.data.publications | where:"title","Against the Uncritical Adoption of 'AI' Technologies in Academia" %}
        {% include publications.html publications=article %}</div>
        </div>


    <p>Another related aspect — described by <a href="https://web.mit.edu/slava/space/essays/essay-ponomareva.htm">Valentina Ponomareva (1998)</a>, is that:

        <blockquote>
            it is impossible to create an absolutely reliable automatic system, and sooner or later people face the necessity to act after equipment fails. [...] If the cosmonaut loses such skills because of [their] passive role [due to being typically limited to monitoring and observation only], the probability of [their] choosing and carrying out the right procedure in an emergency would be small. This contradiction is inherent in automatic control systems. 
        </blockquote>

    For more on this angle of AI see:    </p>

        <div class="is-center">
        <div class="cite is-center">
        {% assign article = site.data.publications | where:"title","What Does 'Human-Centred AI' Mean?" %}
        {% include publications.html publications=article %}</div>
        </div>
</div>  

</div>

<div class="row">
    <div class="col-12 col-7-md col-7-lg vertical-center">
    <h2 id="how" class="text-left"><a href="#how">How is this possible?</a></h2></div>

<div class="col-12 col-5-md col-5-lg  vertical-center">
    <div class=" is-right">
        <img src="/images/dorothy.png" id="" class="figure right">
        <!-- https://med.stanford.edu/news/insights/2019/04/doctors-smoking-new-exhibit-displays-now-startling-ads.html -->
    </div>

</div>  



</div>

<div class="row">

    <div class="col-12 col-6-md col-6-lg"></div>
    <div class="col-12 col-6-md col-6-lg">
        <p>Our present predicament is enabled by the fact that regulation is apparently not only missing in the case of AI, but also <i>very</i> hard to enforce even for industries where there is complete mainstream acceptance of their malevolent goals and harmful practices.
            </p>

            <p>The tobacco industry for example, still publishes research even in journals which try to enforce complete bans on such work. For one, they run disinformation campaigns, as <a href="https://ajph.aphapublications.org/doi/abs/10.2105/AJPH.2004.050963">Annamaria Baba and colleagues (2011)</a> explain:</p>
            <blockquote>Internal tobacco industry documents that have been made available through litigation give us the opportunity to analyze one industry’s involvement in a broader industry strategy to secure enactment of the data access and data quality provisions. These documents provide unprecedented insight into the industry’s motives, strategies, and tactics to challenge the scientific basis for public health policies. In the 1990s Philip Morris implemented a 10-year “sound science” public relations campaign to create controversy regarding evidence that environmental toxins cause disease. Our article describes the tobacco industry’s later campaign to advance the “sound science” concept via legislation.</blockquote>
            <p>For another, as mentioned the tobacco industry continues to indirectly or directly publish medical research, as <a href="https://doi.org/10.1136/bmj.q1153">Irene van den Berg and coauthors (2024)</a> document:
                </p>
            <blockquote>In recent years the “big four” global tobacco companies (according to sales1)—Philip Morris International (PMI)/Altria, British American Tobacco (BAT), Imperial Brands, and Japan Tobacco International (JTI)—have invested billions in companies that produce medicines or other medical products. These investments include treatments for conditions caused or aggravated by smoking. For example, Vectura, a subsidiary of PMI since 2021, produces an inhaler used by patients with chronic obstructive pulmonary disease or asthma. And JTI’s pharmaceutical branch produces treatments for lung cancer, skin conditions such as psoriasis and atopic dermatitis, and heart disease.</blockquote>
            <p>The AI and generally the technology industry is no different, they fund researchers and institutes, therefore causing academics and publications which have conflicting interests, but often go un- or under-acknowledged especially in mainstream coverage. These conflicts of interest are sometimes very time consuming to dig up, for example see <a href="https://theluddite.org/post/replika.html"><i>Nature's Folly: A Response to Nature's "Loneliness and suicide mitigation for students using GPT3-enabled chatbots"</i></a>.</p>
            
    </div>

</div>


<div class="row">




    <div class="col-12 col-5-md col-5-lg vertical-center">
    <div class=" is-left">
            <img src="/images/electricity.png" id="" class="figure left">
            <!-- https://med.stanford.edu/news/insights/2019/04/doctors-smoking-new-exhibit-displays-now-startling-ads.html -->
        </div>

    </div>  


    <div class="col-12 col-7-md col-7-lg vertical-center">
    <h2 id="how" class="text-right"><a href="#how">How can we spot it?</a></h2></div>
</div>


<div class="row">

    <div class="col-12 col-6-md col-6-lg">If you want to help yourself and others, </div>
    <div class="col-12 col-6-md col-6-lg">
    </div>

</div>


<div class="row">

  <div class="col-12 col-4-md col-4-lg vertical-center">
<h2 id="can" class="text-left"><a href="#can">What can we do?</a></h2></div>


<div class="col-12 col-8-md col-8-lg vertical-center">
    <div class=" is-right">
            <img src="/images/eclipse.png" id="" class="figure right">
        </div>
</div>  


  
</div>


<div class="row">


    <div class="col-12 col-6-md col-6-lg vertical-center">

    </div>  

    </div>



<div class="row">
<!-- <div class="col-12 col-4-md col-4-lg vertical-center">
<h2><a href="#what">What do you mean?</a></h2></div> -->

<div class="col-12 col-12-md col-12-lg  vertical-center">
    <div class=" is-center">
            <img src="/images/metamorphosis.png" id="" class="figure right">
        </div>

</div>   
</div>   


</article>